[2011-04-20 08:42] Tsin opened #27 "noother's afk"
please check the implementation of noother's afk

[2011-04-20 14:17] GreYFoX commented on #27
i've been waiting for you in irc to tell you this doesn't mean anything to me
you haven't told me hwat is wrong or what to look for
do snakes come out and bite who ever is afk ?
do virgins refuse to touch you ?
you have to be specific or i just won't know what to fix

[2011-04-20 14:31] Tsin commented on #27
i dont know anything about snakes but virgins just love to touch my .....

about the issue it should work like this
-you set the time  of afk
-when 50% of that time ends you get a message "you are afk for blah blah"
-after 90% of time passes you get a second message
-100%  you get kicked
-only mouse move can reset the afk timer
-using keyboard wont do anything

[2011-04-20 14:33] GreYFoX commented on #27
thanks will  be fixed soon

[2011-04-20 19:52] GreYFoX opened #29 "Doors leak doors"
Door 1 would allow people to go through Door 2 if Door 1 and Door 2 intersect and Door 1 gets opened

[2011-04-20 19:54] GreYFoX opened #30 "Rework Teams"
@heinrich5991 is currently reworking teams

[2011-04-20 19:54] GreYFoX opened #31 "Update the banmaster to 0.6.0"
banmaster needs to be updated to 0.6.0
assigned to @heinrich5991

[2011-04-20 19:57] GreYFoX opened #32 "Redo the DDRace scoreboard"
DDRace scoreboard needs to be re-implemented since the great 200 commit merge from oy/master
and it doesn't need to support old servers anymore since 0.6.0 kills 0.5

[2011-04-20 20:05] GreYFoX opened #33 "Client option to spectate certain teams only"
to be done after @heinrich5991 reworks teams since it will need the server to limit client ability to see certain characters

[2011-04-20 20:06] GreYFoX opened #34 "Client option to color team members differently"
also waiting on @heinrich5991 to finish reworking teams

[2011-04-20 20:08] GreYFoX opened #35 "Remove DM hud for Race game types"

[2011-04-20 20:19] GreYFoX opened #36 "Scores shown as negative numbers"
Make the scoring shown as negative numbers so that they would show up right in the vanilla scoreboard

[2011-04-20 20:26] GreYFoX opened #37 "Plasma shooting through walls"
When a tee moves away from the plasma bullet, if a wall is behind him and a tee is behind that wall, it would freeze the tee behind the wall when it hits the wall

[2011-04-20 20:42] #27 closed, assigned to nobody

[2011-04-20 20:42] #36 closed, assigned to GreYFoX

[2011-04-20 21:43] Xystus opened #38 "White tile by tele and speedup!"
If i made a map with DDrace Client. And put a teleporter in it, and save the map. And wanna try it, i got a white block on the place from the teleporter of speedup.

I don't know if this is a bug or not. But is very annoying ;)

[2011-04-21 12:30] ravomavain commented on #38
Can't reproduce on a new map, but if I edit an old one I got the same problem :/

Edit : and on the old map, adding a new teleporter fixed the problem.

[2011-04-21 13:01] Xystus commented on #38
Sow what can i do for a new map to get that away??

[2011-04-21 19:35] GreYFoX commented on #38
1. go to http://bit.ly/DDRace
2. download the latest DDRace
3. open the client and the editor
4. load the map that causes this
5. save it
6. host it
7. have fun.

[2011-04-21 19:35] #38 closed, assigned to nobody

[2011-04-26 17:05] #31 closed, assigned to heinrich5991

[2011-04-27 07:22] Fisico opened #39 "Update Freeze Race"
Update Freeze Race
what Freezerace need:
Freezetiles
Unfreezetiles
hammer to unfreeze
a time
/rank /top5

[2011-04-27 07:24] Fisico commented on #32
make a scoreboard like racemod

time
and the team

[2011-04-27 07:28] Fisico opened #40 "official DDrace maps"
include some good ddrace maps

xyz_ddrace
...

[2011-04-27 07:30] Fisico opened #41 "entities need some love"
i have to fix some entities

[2011-04-27 07:33] Fisico opened #42 "update map converter to 0.6.0"
update map converter to 0.6.0 and upload it to the repo

[2011-04-27 16:58] Tsin commented on #40
dont add any maps that "exist" make a special contest for new ddrace maps

why not add old maps that are good :
because then many ppl will come and say add my map
- why add his map and not add my map

and in adding xyz
why not add
koule, skynets, hardcore
why not add LemonLand or any other map ?

to avoid  this kind of problems there should be made a special contest for official ddrace maps (and o

[2011-04-28 10:25] Learath2 commented on #40
Yes existing maps would be bad official maps for ddrace must be made for DDRace specially.

[2011-05-01 15:21] Cristall opened #45 "pause bug"
its a bug if you use pause and spec
1. start and use /pause anywhere
2. esc and go out of spec and start
3. go into spec and use /pause again
   you are at the position of the first pause and you cant pause between 2 and 3

i think you should not go out of spec while pause.. there is a messsage but it work

[2011-05-01 17:07] ravomavain commented on #45
Noticed it too, I think that the right way to fix that is to unpause player (like if he use /pause again), when he try to join the game, so we can't accidentally lost our current paused data.

An other nice feature will be to replace the classic "join the spectators" and "join the game" message by a pause message, so new players will know how to use it (and will not join spectators normally thinki

[2011-05-01 17:31] ravomavain commented on #45
I found where is the problem : there is a missing "else" between line 1000 and 1001 of src/game/server/gamecontext.cpp (it may have been lost in the big update to 0.6)

[2011-05-06 08:46] Fisico opened #46 "New Freezanimation"
New Freezanimation like in nodes
ask landil maybe you can use the image

[2011-05-09 16:24] GreYFoX commented on #42
It's not needed, the maps haven't changed from 0.5 to 0.6
old converter maybe used
if i get free time i will do it anyway but this is a low priority

[2011-05-09 16:28] GreYFoX commented on #40
i want a map that shows the features of DDRace not too hard for noobs but still not to easy
i want it to have teeish graphics, as much as i love and respect koule, it uses unteeish graphics. make something like nut server maps or xyz_ddrace2, don't use generic unhookable for hookable tiles ...
use common sense
the maps should be tested privately as it will be released to public for the first time

[2011-05-09 16:48] #45 closed, assigned to nobody

[2011-05-09 16:51] GreYFoX commented on #45
sorry i just fixed it without looking because i already knew about this, was just enjoying having a char saved in game, some times i would play and finish then spectate and unpause and play with the other char xD
anyway it's fixed now

[2011-05-09 19:03] ravomavain opened #48 "nethash.c moved to nethash.cpp"
Please update src/game/server/ddracecommands.cpp ;-)

[2011-05-09 22:00] GreYFoX commented on #48
added locally will be pushed with other commits later

[2011-05-12 09:02] alandball opened #49 "Records not saving for maps in subfolders"
I have tested this and found that the reason my server couldnt read or make records, is because the maps are in subfolders.
An example: skynet1: located in data\maps\1\
server config: add_vote "Skynet 1" sv_map 1\skynet1

It works well,and when someone finishes the map, it shows their time, until map changes. I look in records folder in base teeworlds folder, and no record

Also, if i add the skyn

[2011-05-12 09:50] alandball opened #50 "tune and tune_reset"
When server admin does tune_reset it seems to load the default teeworlds tunings, rather than the default ddrace tunings. For one: Bullets act weirdly(moves super fast) etc

Also when a map is loaded that holds a cfg(eg koule 7) that has perma hook, when the map is changed, perma hook is still enabled. Please add the tune reset function(like in 0.52 trunk 1.6......) where it tune resets, then load

[2011-05-13 02:24] GreYFoX commented on #50
i host a server has koule 1 to 15 and the hook is rest when changing map from 7 to anyother map

but not because of the ture_reset only command, i will fix it so that tune_reset resets DDRace tunes as well as tw tunes
thanks for the report

[2011-05-13 02:25] GreYFoX commented on #49
I'll check it out, but tell me why is it significant to have maps in sub folders !

[2011-05-13 02:27] GreYFoX opened #51 "Weird Speeder bug"
When in a speeder with max speed if a tee presses A (left or hook the ground, the tee can go int othe opposing direction of the speeder, can go very fast !!

[2011-05-13 09:45] alandball commented on #49
For ddrace, it is a problem if there are maps in subfolders, as the records then dont record. Maybe what i was getting at was that there is allowed to be maps in subfolders, then the mod should still continue to function the way its meant to. If its easier maybe then disallow the usage of maps in subfolders. I would just guess its good practice to make sure a feature is compatible

I dont mind whe

[2011-05-13 09:56] alandball commented on #50
Sure, but im still not sure why the hook stays permanent. Im using 1.075a uploaded on 26 april trunk from the ddrace.info site. I will test with the now 1.076a

[2011-05-15 09:06] alandball commented on #51
This often happens, but for me, I get stuck if lets say speeder is perfect right, and I hold left, then I get stuck in the position after a while. And no amount of trying can move me, say if other tee hook me or i hook a nearby wall.

Also, what you mentioned happens, and very high speed then can be obtained, it feels almost as if the energy builds up inside tee. Have this go on long enough, and y

[2011-05-21 13:42] Tsin opened #53 ""... be in a team ..." spam"
i was on server for about 2 minutes and it spammed me a lot (please reduce the amount of the messages)

http://img6.imagebanana.com/img/e8vupg43/s1.png

http://oi54.tinypic.com/rvlx6d.jpg

http://oi53.tinypic.com/2qi4meg.jpg

[2011-05-25 18:26] alandball opened #54 "admin access to config level commands"
I have had a problem on my server, where an admin set sv_register to 0, and sv_test_cmds to 1, and was able to 'super'.  The other tee were then dragged to the finish line. Please can the level of access be upped, so its only config? Thank you.

[2011-05-30 10:29] alandball commented on #50
Also. it is not just the manual tunes in the config that arent changed back, but optional tiles that change settings and tunes when a map is loaded with such tiles, and when the next map is loaded those changes are still there.

This became apparent to me when someone opened this thread: http://ddrace.info/forum/showthread.php?t=610

[2011-05-31 08:31] GreYFoX commented on #54
if someone cheated then the records file / sql table were never changed

these commands are for testing, if it's so happens that they are activated in a middle of a game the records are not modified.

i will close htis for now, if you are not satisfied please reply here to tell me what you think

[2011-05-31 08:31] #54 closed, assigned to nobody

[2011-05-31 16:46] ravomavain commented on #50
Here is a patch that should fix tune_reset ;-)

[2011-06-01 08:50] alandball commented on #50
I just tested the b11 available on ddrace.info. When a map is voted, and the map has a config that changes any settings, those settings are not reverted when a new map is voted/loaded. Those settings only revert if server is restarted. This did not happen on the trunk ddrace that were before 0.6.0. Please test this using the latest download from ddrace.info. It cant just be me with this problem, n

[2011-06-01 15:05] #48 closed, assigned to nobody

[2011-06-01 15:07] #50 closed, assigned to nobody

[2011-06-01 15:33] alandball commented on #50
Thanks

[2011-06-03 01:29] PenguiN560 opened #55 "bug at score(changing records in top on more bad)"
Possible to del any records from top for get first place.

How it work:
For a start we must enter on server with no record nick (have -999 score) after change nick on guy what score we want del from top. On command /rank we get his time and place but also have -999 score and if now we finish map his record will be change to our time(not mater have he more better time or not)

Was found on one of N

[2011-06-04 20:56] Shahan commented on #40
I already suggested it here
http://ddrace.info/mybb/Thread-Official-Standart-DDRace-maps
But i failed with heinrich5991's answer. So 1 thing i can suggest is find really good mapper, who will create maps DDRace1, DDRace2, ..., DDRace_hardcore and so on. But only officially from DDRace community with love=)

[2011-06-04 21:00] Shahan opened #56 "Crash bug in rcon command. (found by .:RT:. All nubs!)"
1. Create server.
2. Enter in f2 you admin password.
3. write in f2 record q
4. Wait 2-3 seconds, possible to move
5. Server crashed.

After exams I can try to help you with fixing it. iDDRace fails with this trouble too=(

[2011-06-07 15:12] GreYFoX commented on #53
findout the server version
invalid

[2011-06-07 15:12] #53 closed, assigned to nobody

[2011-06-07 15:23] #56 closed, assigned to nobody

[2011-06-07 15:23] GreYFoX commented on #55
fixed

[2011-06-07 15:23] #55 closed, assigned to nobody

[2011-06-09 20:01] Speedy-Consoles opened #59 "Admin protection"
There is no admin-protection if you are not logged in when the vote comes.

[2011-07-20 01:18] #59 closed, assigned to GreYFoX

[2011-07-20 06:25] Fisico commented on #41
its done ;)

[2011-07-20 10:06] btd commented on #30
What is a current state of this issue?

[2011-07-20 10:07] btd commented on #39
Freeze race is a branch FRace?

[2011-07-20 12:47] ravomavain commented on #41
tele entitie need more love :-p

[2011-07-20 12:57] Fisico commented on #39
yep i think so

[2011-07-21 01:43] GreYFoX opened #60 "Goal tiles sometimes repel the ball"
some times the goal tile repels the ball

[2011-07-21 13:28] GreYFoX commented on #30
No one is working on it but I'd recommends asking @heinrich5991 if u wanna do it, to see what he reached, but at the current state I think teams system is fine for now

Sent from my iPhone

On Jul 20, 2011, at 1:06 PM, btdreply@reply.github.com wrote:

[2011-07-22 08:24] Fisico commented on #41
ok

_fisico will rework the teleport tiles_

[2011-07-22 08:26] GreYFoX opened #61 "Fix the ball disappearing"

[2011-07-22 08:29] Styvi26 opened #62 "pass-system"
Can you make a pass-system?

[2011-07-22 11:50] btd commented on #62
What does it mean?

[2011-07-22 12:10] ravomavain commented on #62
btb: http://pix.toile-libre.org/upload/original/1311326249.png
I don't realy know what it's about but it's for TeeFoot, not DDRace ;-)

[2011-07-22 13:04] Styvi26 commented on #62
yes, i mean that for teefoot.
when a player give a pass to another player. and than give it a point for both player.
and it's already possible to make it unhold? the command sv_player_keeptime doesn't work.
thanks. (this is a very nice mod :D)

[2011-08-02 05:35] GreYFoX opened #63 "Fix Envlopes"

[2011-08-20 00:39] laxa opened #64 "Fix check-time entities"
It doesn't seem to work properly on the last client version, I mean, no indication of time is given !

[2011-08-20 00:41] laxa opened #65 "Fix : Auto-save best time demo"
It seems to be broken, sometimes work, sometimes don't...
For information : auto demo is on with auto-best demo and my folder is full with the max demo, maybe it's coming from that.

[2011-08-20 01:01] laxa opened #66 "You can bypass some entites with a lots of speed"
Here is the bug and I didn't saw an issue for it :
When you have a lots of speed (a great fall for example), you can bypasse 1 row of death/tele entites, but if there are 2 row, you can't. It doesn't work all time, it's a bit random.

[2011-08-20 05:15] GreYFoX commented on #66
currently only death tiles an speedup tiles can be skipped, should be impossible to skip others,please try and make a demo, thanks

[2011-08-20 07:53] laxa commented on #66
Ok I made a quick test map and a demo, I forgot to test speedup but you are actually aware of that.
So map : http://L4x4t0r.free.fr/bypass.map and demo http://L4x4t0r.free.fr/bypass.demo
And mistake of me, tele can't be skipped !

[2011-08-26 12:28] GreYFoX commented on #66
Thanks

[2011-08-26 16:58] Styvi26 opened #68 "teefoot"
hey guys

Do you still work at the teefoot mod?

when yes:

important bug 1: the tileset of the redgoal is buggy. it isn't air as the bluegoal. you can test it on the teefoot server.

important bug 2: if a player has the ball and makes suicide, the ball disappears. the same thing happens when a player goes with the ball in a death-tile. sometimes it happens when a player chats and becomes the ball

[2011-08-27 06:34] ghost commented on #66
isn't a ddrace bug, This has always been so, beacuse deathTile or tele isn't checked in MoveBox() function, GreyFox Know.....      it should be fixed? (also in official vanilla?)

[2011-08-27 13:06] GreYFoX commented on #68
I'm rebuilding teefoot from scratch ETA 15 days

[2011-08-27 13:07] GreYFoX commented on #66
@CarmineZ death tiles are not my problem and vanilla people doesn't want them fixed, it's not like ur gonna get that fast in a CTF or DM..., regarding Stoppers i wil lfix it
regarding speeders it's the wanted behavior
P.S. i am not gonna fix the death tiles, if a mapper wants to handle this he can, put collision after the death tiles or teleport them then kil lthem.

[2011-08-28 11:51] noother opened #70 "bind doesn't work with more than 1 command"
Example: bind lalt "emote 7; kill; +fire". < Only emote 7 gets executed.
It used to work in all previous versions.
This bug doesn't exist in latest vanilla.

[2011-08-28 12:36] theandi103 commented on #70
You have a space after the comma. You have to wirte like this
bind lalt "emote 7;kill;+fire"

[2011-08-28 13:01] senyai opened #71 "RCON causes Broken pipe"
Tried minimal code for rcon connecting:

[code]

[2011-08-28 13:37] noother commented on #70
What can I say - No, that's nonsense. Either with or without space should work, but it doesn't.

[2011-08-29 04:06] #60 closed, assigned to nobody

[2011-08-29 04:06] #61 closed, assigned to nobody

[2011-08-29 04:08] #68 closed, assigned to nobody

[2011-08-29 04:11] #62 closed, assigned to nobody

[2011-08-30 12:07] JulianAssange commented on #70
i just did it and it works fine... ( space and no space)

[2011-08-30 18:45] heinrich5991 commented on #71
why don't you use a pure tcp connection?

[2011-08-30 20:49] noother commented on #70
No, it doesn't.
Did you test with the latest code? (44b636d37f103b6b10c4)

[2011-08-30 23:37] laxa commented on #66
You can bypass laser door too.

[2011-08-30 23:42] laxa opened #75 "0.6.1 issues"
- problem with chat command, server may crash (some does, some other don't, I don't really know why)
- top5 isn't working
- collision is experiencing some weird things
- Hammer Fly is really strange, especially when you have good speed

[2011-08-30 23:49] laxa commented on #75
Opening 1 issue for each issue.

[2011-08-30 23:50] laxa opened #76 "0.6.1 : Chat command may crash server"
Problem with chat command, server may crash (some does, some other don't, I don't really know why).

[2011-08-30 23:51] laxa opened #77 "0.6.1 : top5 isn't working"
Top5 isn't working.

[2011-08-30 23:51] GreYFoX commented on #76
Can you please report at least 1 scenario that would lead to a crash?
EX: 1- do ....
2- do....
3- do
crash

[2011-08-30 23:51] laxa opened #78 "0.6.1 : Collision acting weird"
I experienced some really weird things with collision and HF.

[2011-08-30 23:52] laxa commented on #76
I launch my homeserver, I go on it, I do whatever /cmd and server crash.

[2011-08-30 23:53] GreYFoX commented on #78
were you using an 0.6.1 client on a 0.6.1 server ?

[2011-08-30 23:56] laxa commented on #78
Yes.

[2011-08-30 23:57] laxa opened #79 "Client 0.6.0 crash on 0.6.1 server"
At least on Race server and DDrace server, 0.6.0 trunk client crash on server with 0.6.1 race/DDrace.

[2011-08-31 00:01] Styvi26 opened #80 "teefoot: server crash shot+suicide"
bug in teefoot:
- if a player shot and makes suicide at the same time the server crashes.

[2011-08-31 00:02] GreYFoX commented on #79
it's all about the map, 0.6.0 client will NEVER know maps created by 0.6.1 because it doesn't have the new layer and group name ...etc
not a bug

[2011-08-31 00:03] GreYFoX commented on #78
Demo ?

[2011-08-31 00:03] GreYFoX commented on #76
Laxa i tried /rank /info /top5
only top5 didn't work and no crash
also /pause and /team # works

[2011-08-31 00:34] laxa commented on #76
It crashes only after sv_map or reload apparently.

[2011-08-31 00:35] laxa commented on #78
Can't find demo of it cause the demo stop after start line...

[2011-08-31 00:50] laxa opened #81 "Server commands on f2 don't return value"
Server does not return value of sv_cmds, or at least, it's not shown on rcon menu.

[2011-08-31 00:52] GreYFoX commented on #80
i tried it no crash

1- i got the ball
2- shot it
3- killed
nothing happened

[2011-08-31 06:23] JulianAssange commented on #70
Yep my bad, It seems that the newest code has many bugs. hopfully greyfox has time :)

[2011-08-31 12:07] Tsin commented on #79
only DDRace 0.6 clients crash vanilla 0.6 and vanilla 0.6.1 works fine so i think this bug can be fixed (but aslo will be pointless because the fix woukd be then done on 0.6.1 :D)

btw maybe there should be away to let 0.6.1 editor to save maps with new features that kill clients and without

[2011-08-31 12:15] laxa opened #82 "Team time is broken if there is death tile after end entitie"
Example : I am in team with nameless tee, we are coming to the end, I cross end line first then I am killed by death tile.
Then nameless tee cross end line and die, only him will have a time.

[2011-08-31 12:17] Tsin commented on #76
/pause and /team crash the server

we done it yesterday many times with Hitomi and Save.

but we dont know if th couse was a "huge" map
or the map 0.6 (yes we started a 0.6 map on 0.6.1 ddrace 09a server)

and untill anyone of us tried pause or joining team on that map (naremtest map = name of a map) the server was stable

but please keep in mind on dm1 everything works fine only on those bigger m

[2011-08-31 12:18] Tsin commented on #76
Fox write if you want this issues to be here or should i make a special issue for every problem

[2011-08-31 18:12] Styvi26 commented on #80
sry, i tested it again:
you must look at the ground. then shoot and in the same second selfkill ->crash

the same thing is if you shot and go in a death-tile in the same instant.

i tested the server in my 24/7 and he never run for more than 5 hours. i don't know why but i could be because of this bug.
(the version before updating is more stable)

[2011-08-31 20:59] #81 closed, assigned to nobody

[2011-08-31 21:43] GreYFoX commented on #76
this is fixed, if there is stil lan issue open another ticket

[2011-08-31 21:44] GreYFoX commented on #79
don't get it

[2011-09-01 00:18] GreYFoX commented on #80
It's not a crash it's an infinite loop by bass

[2011-09-01 01:01] #80 closed, assigned to nobody

[2011-09-01 01:08] GreYFoX commented on #80
please submit logs and backtraces if the server is still unstable

[2011-09-01 02:03] laxa commented on #66
You can bypass block entitie too.

[2011-09-01 02:06] laxa opened #84 "Autorecord often stop to record when crossing start entitie"
For example here is a demo : http://L4x4t0r.free.fr/bug.demo

[2011-09-01 02:10] laxa commented on #78
Ok, I finally found what was causing weird collision !
Apparently team feature does not remove collision... Making really really strange things and making the prediction of the client to fail too...

I got 2 demo for this : http://L4x4t0r.free.fr/bug.demo, at the really end of the demo, 51:30, I come to the end of a noobfilter, at the end of the laser door is another tee but in a different team, w

[2011-09-01 03:11] laxa opened #85 "Teleport 2 tee at same location at same time will stuck them"
Here are the test demo and the test map to show the bug.

http://L4x4t0r.free.fr/test.map
http://L4x4t0r.free.fr/test.demo

[2011-09-01 10:56] senyai commented on #71
This issue is not about using telnet sessions, it is about security.

[2011-09-01 14:05] heinrich5991 commented on #71
Sure, but I suggested you to use a pure tcp connection.
You seem to have accidently clicked the "Comment & Close" button, could you or @GreYFoX please reopen this ticket?

[2011-09-01 19:23] senyai opened #86 "no /cmdlist. version 1.093a"
When you say '/info' you see "For more Info /cmdlist", and then you say '/cmdlist' and command does not exists. IMO cmdlist should be deprecated, since all admin commands can be typed in console and info about commands can be placed at one screen. People use /top5 /rank /emote and nothing else as I can see. Am I right?

[2011-09-02 01:46] laxa opened #87 "Tee don't bounce correctly with speed"
You don't have big bounce with speed between tee like before, is it normal ?

[2011-09-02 02:45] Shereef commented on #80
@Styvi26 is it still unstable

[2011-09-02 03:09] laxa commented on #78
Thanks, it's fixed =).

[2011-09-02 03:09] #78 closed, assigned to nobody

[2011-09-02 15:00] JulianAssange opened #89 "server crash"
http://pastebin.com/pUNMds34

happens when i go onto ddracemax pro server..

[2011-09-02 16:12] Styvi26 commented on #80
i run the server since yesterday night and both server are still running. i dont know how many player are played, but i think, now the server is stable. great ( ;
i will post it when the server crashs.

[2011-09-02 17:04] laxa commented on #89
It's client crash right ? Not server ?
What is the client version you used ?
Try with the last one.

[2011-09-02 17:37] JulianAssange commented on #89
client crashed, i was using the 0.6 client.. i should probably not have posted this.. lol

[2011-09-02 21:43] Styvi26 opened #90 "little bug [teefoot]"
just a little bug:
if a player of the red team makes a goal, it says in broadcast that he scores for the blue team. same in the other team.

[2011-09-02 21:45] Styvi26 opened #91 "teefoot sudden death"
can you make sudden-death?

but with 3 points difference, because of the passer-score.

[2011-09-03 09:00] GreYFoX commented on #87
this is something for Teeworlds issues on Oy's repo

[2011-09-03 09:05] #90 closed, assigned to nobody

[2011-09-03 09:06] #70 closed, assigned to nobody

[2011-09-03 09:06] GreYFoX commented on #86
fixed

[2011-09-03 09:06] #86 closed, assigned to nobody

[2011-09-03 09:44] GreYFoX commented on #91
Added

[2011-09-03 09:44] #91 closed, assigned to nobody

[2011-09-03 15:35] Shahan opened #93 "map list in ddrace client and server"
How about developing admin stuff in client:
Admin of ddrace server, using ddrace client, can look a list of maps (data/maps directory) and chose perfect one to start instead of connecting host for chosing  map and writing in rcon "sv_map"

I don't open this issue at oy's repo because vanilla server don't need this feature. And only ddrace has hundreds of maps.
Predicting question about adding vote

[2011-09-03 16:48] GreYFoX commented on #93
There is already an issue about this in Oy's repo and they intend to do it, map autocompletion
https://github.com/oy/teeworlds/issues/359

[2011-09-03 16:48] #93 closed, assigned to nobody

[2011-09-03 20:08] JulianAssange commented on #85
this happened while doing a map with greyfox and me.. and some others, it eventally went away.. i havnt dl'd ur demo, but does it go away eventually?:

[2011-09-03 20:10] JulianAssange opened #94 "limit"
limit so you can only use /emote every 10 seconds.. also /eyeemote

[2011-09-03 20:31] laxa commented on #85
Yes.

[2011-09-04 04:42] laxa opened #95 "New solo entitie : missing broadcast from spec view"
When you spec someone in a solo zone :
- You can only hear when he double jump. So you can't hear : kill sound/bullet/hammer/hook
- You don't see what's the number of seconds before he unfreeze

[2011-09-04 20:27] GreYFoX commented on #94
prove to me with this is important, the emoting with eyes doesn't pose risk or graphical pollution to people

if i am wrong correct me

[2011-09-04 21:55] JulianAssange commented on #94
could cause lag and also makes the server log very big..

also it would make ddrace look more 'professional'

[2011-09-04 21:58] JulianAssange commented on #94
when i say 'could' it does, someone released a bot that changes it every tick.. >.>

[2011-09-05 15:48] JulianAssange opened #98 "Spectate"
if someone is in force-spectate for a limited time, if they leave they get banned for how ever long they have left until they can re-join the game.

[2011-09-05 16:07] GreYFoX commented on #98
is that the wanted behaviour or the current behavior ?
u are saying it like a statement not a suggestion, i'm confused

[2011-09-05 19:12] ravomavain commented on #98
As far as I'm concerned, this is not the current behavior (force-pause code is here : https://github.com/GreYFoX/teeworlds/compare/0ae0b0bb...3f2dc361).

[2011-09-05 21:24] JulianAssange commented on #98
^ if i would have found that, I would have tryed to code it myself..

anyways, it's wanted.. Because currently you can get force spectate, leave the game, then rejoin so u dont have to wait the X ammount of minutes to re-join

pretty much: i want the old mute behavior how you would be banned for how long your mute was if u left, but for the force-pause timer thing.

sorry if i dont explain myself

[2011-09-06 10:33] Styvi26 opened #99 "teefoot: crash"
sometimes (but rarely) the server crashes when a player is in chat and gets the ball.

(how/where can i find logs and backtraces?)

[2011-09-07 19:10] laxa opened #100 "You can't have a record with "nameless tee""
That's pretty lame, but at least on sql server version, you can't have a record if you are calling yourself "nameless tee".

[2011-09-08 18:51] alandball commented on #100
It was meant to be this way?

[2011-09-08 18:56] alandball commented on #94
i have log file, of txt type, thats is 17 mb, just like Assange said. and thats just 1 logfile. Also, the real reason, is when im in console, via f2, and type status, it disappears almost immediately because of too much emote coming through. Usually results in me kicking sometimes good player because they have eyeemotebot

[2011-09-08 19:07] alandball commented on #86
Was /rules added? just for example, clan servers might like this, I for one like this because then ISP ROE(rules of engagement) can be put under /rules, by copy and pasting into the cfg... will check this when i have time and report back here.

[2011-09-09 03:32] laxa commented on #100
I don't know ? But I think it's lame =).

[2011-09-11 14:58] ghost commented on #100
It's on purpose i guess cuz its implented to check if 'nameless tee'

[2011-09-12 18:01] sMo0g opened #101 "Laggy animation"
Maybe this is not are DDRace issue, maybe 0.6 ..
But "move" animation (X,Y,R) inhibits when u playing. In editor it's okay.
Looks very bad! Please fix that.

[2011-09-12 19:10] heinrich5991 commented on #94
well, kicking seems appropiate for having an bot that floods the server

[2011-09-14 16:14] laxa opened #102 "loggout in rcon"
The command allowing a player auth with rcon to unauth is not here anymore.

[2011-09-15 14:00] senyai opened #103 "One can finish all maps in one second"
Hello. I wish I could make nonpublic issues ;)
I know these steps to reproduce:
1. Two tees join a team and both finish.
2. One tee suicide
3. Joins the same team
4. Goes through start and see '%username% has finished and didn't go through start yet, wait for him or join another team.'. It is okay.
5. That tee crosses finish line and can even stay at it.
6. Second tee suicide
7. Join team
8. Cross

[2011-09-15 14:35] laxa commented on #103
Tested on last version and it works too...

[2011-09-15 17:54] sMo0g commented on #103
Yes, i've find this bug

[2011-09-15 17:56] sMo0g commented on #103
I think we can just paste "kill" script into text "%username% has finished and didn't go...", Than tee can't go trough start and he get killed.

[2011-09-15 18:05] ravomavain commented on #103
Uhm why is it possible to join a team with player already playing in it?

[2011-09-15 19:10] senyai commented on #103
As a temporary fix I added several lines to CGameTeams::SetCharacterTeam:

[code]

[2011-09-16 03:47] btd commented on #103
By original logic. Tee cannot join to team where one or more members cross the start line.

[2011-09-16 03:48] btd commented on #103
For me need to ckeck changing of teams state. Maybe i frogot to add smthing

[2011-09-16 03:58] btd commented on #103
I ckeck sources. This behavior possible because, when i add teams i make that players must be killed before they can start again. Dont remember by someine dislike this and i replace this. Fix very simple.

[2011-09-16 07:47] laxa commented on #103
Here is a very simple fix by Heinrich5991 :
in src/game/server/teams/cpp line 97 :
ChangeTeamState(m_Core.Team(ClientID), TEAMSTATE_FINISHED);

But he a map has a teleport back to start, another exploit and then possible, cause you can cross line without having a time if your mate don't cross too, and then you can switch team at the end and having a mate starting time when you are at the end !

[2011-09-16 11:46] btd commented on #103
This fix is that it was when i write it. Better to use TEAMSTATE_CLOSED

[2011-09-17 02:18] laxa opened #104 "Bullets are bugged"
Since 0.6.1, bullets are bugged, they are going out of their way, and going to fast, same for explosion bullet !

[2011-09-17 02:20] laxa commented on #85
Also happens when 2 people spec and unspec at same place and when 1 player switch to same team as another tee at same place...

[2011-09-17 02:24] laxa opened #105 "Time is in decimal and wrong on race mod"
With DDRace client, best time of server is wrong, and personnal time is in decimal instead of seconds, and aswell as in DDRace, check entitie don't work correctly, or at least you don't get your check time on the screen !

[2011-09-17 18:50] heinrich5991 commented on #104
again? -.-

[2011-09-17 19:15] laxa commented on #104
Yes :(.

[2011-09-18 13:12] Shahan commented on #104
i hate ddrace on 0.6.1

[2011-09-18 14:19] laxa commented on #104
Ok, I found out where this is coming from.
If server start with sv_tune_reset 0, then bullets will be bugged. If server start with sv_tune_reset 1, then bullet won't be bugged.
So changing sv_tune_reset value and changemap won't unbug bullet. So I guess default of sv_tune_reset should be set to 1 !

[2011-09-20 12:05] JulianAssange commented on #104
^but that doesnt  make sense, seeing as on server start all tunes get reset..

[2011-09-20 14:05] laxa commented on #104
That doesn't make sense but that's it...
Maybe Greyfox forgot something in this commit :
https://github.com/GreYFoX/teeworlds/commit/9f16db09692e31311c2b6293135001730f91291a

[2011-09-25 02:06] laxa opened #107 "Client might crash on race mod with show_entitie 1"
Client of the game might crash on few race maps when cl_show_entitie is set to 1.

[2011-09-26 09:01] laxa opened #109 "Solo entitie not shown with proper graphic"
"Bug" is on client side, when you activate cl_show_entitie 1, solo entities (in and out) are not shown with proper graphic, only number is given.

[2011-09-28 02:57] laxa opened #110 "No-collision hammer entitie"
This entitie disable too shotgun on yourself, this is not suppose to be the correct behavior.

[2011-09-29 14:31] laxa opened #111 "Shields sound is broadcast to everyone"
When you are in team, if a player not in your team goes through or stay on a shield, you will hear the sound of it.

[2011-09-29 14:38] laxa opened #112 "/rank on SQL server is broken"
When you do /rank on a server where you finished, I suppose the sentence we should have is : "finished xx:xx ago (first time you finished) and last finished was xx:xx ago", but text is kind of broken and value are too, is this a charset problem ?

Here is a screenshoot : http://imageshack.us/f/836/screenshot2011092916365.png/

[2011-09-29 19:43] laxa opened #113 "Laser drag + solo entitie = broken"
Laser drag entitie (and maybe some other entitie that target player) will drag only 1 player if 2 are in same spot and in solo zone.

[2011-10-01 09:39] laxa commented on #107
He might aswell crash with show_entitie 0 on some race maps. (run_hell_and_heaven)

[2011-10-08 13:02] alandball commented on #102
neither is the logout command to logout from rcon
but this is issue in teeworlds.

[2011-10-08 13:07] alandball opened #114 "muteid is always muting incorrectly"
http://www.quickshare.co.za/files/hsqvj6re/mute.jpg.html

muteid is currently broken on the latest sources, and(I think) the download available from ddrace.info

Ok, this started with 1.09a, or the switch to teeworlds 0.6.1

[2011-10-09 10:24] heinrich5991 opened #115 "emptional tees never off"
<doc-oc>
sv_emotional_tees 1 allows eyes of tee to change when choose shift and emote. 0 makes off. But player can still type /emote emotename time
 Or bind
 So it is never really off. Please fix so sv_emotional_tees 0 means no eyeemote

[2011-10-09 15:20] alandball opened #116 "pause details in normal screen too much"
http://www.quickshare.co.za/files/abmmo1bz/unpause.jpg.html
http://www.quickshare.co.za/files/nh9937rg/pause.jpg.html
When pause or unpause the server puts too much detail for normal user
Note, I was not logged in to rcon
Note 2: when other players pause its normal ***playername paused
Note 3: Happens when console_output_level is set to 2, if left to default then this doesn't happen

And this one

[2011-10-12 17:43] laxa commented on #112
https://github.com/GreYFoX/teeworlds/commit/b5f8738acd9948df1bd50858a555b3c0834fc829

[2011-10-12 17:43] #112 closed, assigned to nobody

[2011-10-17 13:35] alandball commented on #114
Fixed by xxltomate

[2011-10-17 13:35] #114 closed, assigned to nobody

[2011-11-01 11:17] senyai opened #121 "ddrace.info cracked?"
ddrace.info has no information about the mod now. What's going on?

[2011-11-01 21:50] AdVetter commented on #121
afaik ddrace.info will be restored soon, when GreYFoX has time to do it.

[2011-11-02 05:13] senyai opened #122 "Checkpoints are not stored"
Hi!
`dtb` files always have '0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0' as checkpoints.

[2011-11-02 06:19] laxa commented on #122
Cause your map corresponding to these records don't have check entitie ?!

[2011-11-02 08:34] senyai commented on #122
Of course it has.

[2011-11-02 08:45] laxa commented on #122
Ok so :
- Version of DDRace server you are using ?
- Upload the map where you have this thing.

[2011-11-03 22:21] #116 closed, assigned to nobody

[2011-11-04 10:41] laxa commented on #122
No answer, as far as I know and I tested, check entitie are working correctly.

[2011-11-04 10:41] #122 closed, assigned to nobody

[2011-11-06 17:30] senyai commented on #103
I found another way to finish maps in one second. Contact me if you are interested.

[2011-11-06 18:06] senyai commented on #122
Under some circumstances the bug is happen. I suspect incorrect converting of my `dtd` files from 0.5 to 0.6. Will check it as soon as I have time.

[2011-11-06 21:03] sMo0g opened #123 "Timer problemms"
In 0.6.1 One timer - after start. And animation can't run before you started. It's a big problem on my map, and a lot other maps.
And i saw that animation lagg because timer without milliseconds. In 0.6.1 no milliseconds. I think it's should be fixed.

[2011-11-07 17:44] alandball opened #124 "force pause/vote player to spectate doesn't work"
Using the latest sources, if admin uses force_pause on player, it doesn't work. Same for if player votes another player to spectator

[2011-11-08 02:48] laxa commented on #121
ddrace.info is fixed now.

[2011-11-08 02:48] #121 closed, assigned to nobody

[2011-11-08 02:49] laxa commented on #123
We don't need that on ddrace, it's just a mis conception from you if your maps do this.

[2011-11-08 02:50] laxa commented on #103
Describe how right here, we can't fix a bug if we don't know it...

[2011-11-08 11:58] GreYFoX commented on #123
make a poll on the forum, either we will have a timer on the broadcast and make the top timer the server tick timer
or everything stays as is

[2011-11-08 12:05] GreYFoX commented on #115
the time it took u to write this could have been the time u fixed it in

[2011-11-08 12:06] #115 closed, assigned to GreYFoX

[2011-11-08 12:15] #111 closed, assigned to GreYFoX

[2011-11-08 12:40] GreYFoX commented on #113
This is a bit tricky, this is also a bug with plasma guns, they will only target the nearest tee in the same team even in solo
we need to make solo tees change teams into an empty team and back after they exit solo to the old team so it would work

i'll check the rest of the issues before i decide if i will do it

[2011-11-08 13:17] GreYFoX commented on #103
I've made a state list

no. Tee1        Tee2        Tee1    Tee2
1   finished    finished    in  in
2   none        finished    out in
3   none        finished    in  in
4   none        finished    in  in
5   finished    finished    in  in
6   finished    none        in  out
7   finished    none        in  in
8   finished    started in  in
9   finished    none        in  out

the only suitable fas

[2011-11-08 13:21] #103 closed, assigned to GreYFoX

[2011-11-08 17:20] heinrich5991 commented on #115
I just copied it from Oy's issues.
(where somebody else accidently opened it)

[2011-11-08 20:56] AdVetter commented on #124
for me voting a player to pause/spectator works, but the "Force vote" button in the "Move player to spectator"-list sets the player to spectator mode, but no pause info is saved.
(force_pause is not working too)

[2011-11-08 23:43] #124 closed, assigned to ravomavain

[2011-11-09 21:40] sMo0g commented on #123
site isn't working :D

[2011-11-09 21:44] sMo0g commented on #123
Laxa, a lot maps have background with animation or something else. And this is working after start.. it's annoying a little bit and i think that better if animations things would work before start and without lags.

[2011-11-18 22:08] senyai commented on #124
I can't force pause for more then zero seconds, seems like sv_vote_pause_time does nothing as I always see
"has been force-paused for 0 seconds" Checked-out just now.

[2011-11-18 22:18] ravomavain commented on #124
senyai: are you using DDRace_testing branch?

[2011-11-18 22:27] senyai commented on #124
DDRace brach. I see commit 27c1a829 fixes it. Sorry to disturb you.

[2011-11-18 22:32] ravomavain commented on #124
this commit is only on DDRace_testing branch, if you have some time to test it that would be nice ;-)

[2011-11-20 17:18] senyai opened #127 "DDRace_testing see and hear others in /pause"
Hi.

1)    I'm using DDRace_testing at public server and players dislike that they cannot see others when in /pause by default. I know, they can say `/showothers`, but I'm sure this command is used to always show others. So, previous behavior was fine.

2) You cannot hear others in other team when in /pause.

I know, it is a bad practice to describe several issues in one ticket, but please bear wi

[2011-11-22 22:19] FeoOne opened #128 "Server has many memory leaks"
This is a big problem for servers with a small amount of RAM.
The memory occupied by the process DDrace-server increases in arithmetic progression.
According to my observation represents an increase of 10 mb per day.

[2011-11-22 22:24] FeoOne opened #129 "Mac server doesn't work"
Server's log for the mac does not display the errors, but clients could not be connected. The reason: timeout. All needed ports are opened. Windows server on that internet connection working normally.
Just log into the mac server window is clipped and haven't scroll.

[2011-11-22 22:26] AdVetter commented on #128
I can not reproduce this issue.
My two DDRace servers are now running for 2 weeks.
One with 10mb ram usage and the other one with 7.3mb ram usage.

<b>Edit:</b> On which os?

[2011-11-22 22:28] FeoOne commented on #128
What version of server u use?
I'm observed this problem on 1.095a version.

[2011-11-22 22:30] AdVetter commented on #128
I'm using a modified DDRace version, running on linux.

<b>Edit:</b>    based on latest DDRace sources.
<b>Edit2:</b> it's v1.096a

[2011-11-22 22:37] FeoOne commented on #128
http://img706.imageshack.us/img706/8673/screenshot20111123at233.png
Within a few days lay out one more screenshot.

[2011-11-22 22:50] AdVetter commented on #128
OK now your server need as much memory as my server.
Lets see how it develops.

[2011-11-23 08:34] Learath2 commented on #98
well force pause pauses the player doesnt make them go to spectate so if they leave they lose state if they wait they can continue. I think its fair enough :) (i know its an old issue (should be closed ?))

[2011-12-01 12:14] sMo0g commented on #127
Yes, it's very annoying, that you can't see players in teams -.-

[2011-12-01 12:15] sMo0g commented on #123
Please, can someone do that i need?I just can't register account on ddrace.info to make a poll. So who can do it, just do it and give changed source code files. Please!

[2011-12-03 21:52] GreYFoX commented on #123
why can't u register ?, also don't u already have an account ?

[2011-12-04 11:22] btd commented on #123
I block him on old site. In im i can explain why.

[2011-12-04 12:35] heinrich5991 commented on #101
invalid - it's the fault of vanilla

[2011-12-04 12:35] #101 closed, assigned to nobody

[2011-12-04 12:47] #75 closed, assigned to nobody

[2011-12-04 12:47] #76 closed, assigned to nobody

[2011-12-04 12:47] #77 closed, assigned to nobody

[2011-12-04 12:47] #79 closed, assigned to nobody

[2011-12-04 12:47] #82 closed, assigned to nobody

[2011-12-04 12:47] #87 closed, assigned to nobody

[2011-12-04 12:47] #89 closed, assigned to nobody

[2011-12-14 10:48] alandball opened #131 "Any ban turns into perma ban"
When a ban runs out, it ends up as a weird figure around 70million. So the bans never run out. Problematic for servers that has banning enabled, or admins that ban.

[2011-12-14 13:31] #131 closed, assigned to eeeee

[2011-12-14 13:36] GreYFoX commented on #127
i don't know what is the testing branch is for, i forgot :D

[2011-12-14 13:37] GreYFoX commented on #127
@ravomavain and @heinrich5991 what's that branch i don't remember putting it there, did you guys put it ?, if you did then you shouldn't push directly to my repo, instead make a pull request!

[2011-12-14 13:43] ravomavain commented on #127
@GreYFoX: it's me who pushed it, you already told me it was a bad thing but i still didn't deleted it, sry. You can remove it if you want (i can't do it right now)

[2011-12-14 13:45] senyai commented on #127
@GreYFoX ,btw check that branch out it has a nice pause feature - you can pause anytime. Lots of people at my server liked it. It would be cool if someone make this kind of pause as option, like /forcepause

[2011-12-14 14:01] ravomavain commented on #127
@senyai this feature is already planed but nobody have time to test it and fix last bugs :-/ I'll maybe work on it before the end of the year if I have some spare time ;-)

[2011-12-15 07:59] GreYFoX commented on #127
@ravomavain : sorry i forget easily and i will not delete it, keep it, maybe someone will work on it and pull req. me

[2011-12-15 22:47] cris272 opened #133 "Zoom bug"
If on a DDRace server we zoom+ or zoom-, then we join a standard game type like CTF, the Zoom statut is saved. And as we cant use zoom on standard game type, the zoom is blocked. We can't go back to standard zoom.
I join 2 screenshots from vanilla CTF5 :

http://imageshack.us/photo/my-images/836/screenshot2011121523354.png/
http://imageshack.us/photo/my-images/233/screenshot2011121523344.png/

[2011-12-20 20:53] Learath2 commented on #85
if you are in a one wide place in freeze its end of game

[2011-12-23 08:47] GreYFoX commented on #123
@btd: why ?

[2011-12-25 11:27] GreYFoX commented on #85
This is a Teeworlds physics problems,  the way i see it, but it cannot be reproduced since they don't have teleporters, and they can't go into each other with speed now, so in result i see the ways to fix it are:
1- good mapping (more than 1 teleport to tile) + a proximity check in the code if a tee is already at the target use another teleporter! <--- somewhat honorable workaround
2- fix the phys

[2011-12-25 11:28] #133 closed, assigned to nobody

[2011-12-25 11:29] GreYFoX commented on #127
@ravomavain what are the bugs currently in there, maybe we need to list them so i can know if i can fix them all when i get a free 30 mins or so

[2011-12-25 11:31] GreYFoX commented on #98
i think @Learath2 said what i wanted to say if i understood correctly, you force spectate afk people or bocking people who block in the mid map, you force them to pause or spectate to get rid of them temporarily, if you want them banned just kick them!

the current behavior is what i think is good for it

[2011-12-25 11:31] #98 closed, assigned to nobody

[2011-12-25 11:36] heinrich5991 commented on #85
1) could be done like the teeworlds spawn, they already check it
2) fix the physics - either wait until release_date(matricks_bluesky), or be punished with prediction errors :/ Or write some good physics code and get it pulled into the main line.

[2011-12-25 11:42] JulianAssange commented on #85
how do i stop these msgs emailing me? i want no part in anything tw's related nymore

[2011-12-25 11:43] GreYFoX commented on #85
@heinrich5991 i know about 1 already i asked about 2 only!

and about your 2 it doesn't tell me how would it be done, i don't even remember which file to start at

[2011-12-25 12:14] ravomavain commented on #127
@GreYFoX iirc this is the only bug i remember but i've not tested it that much. To fix it i suggest to make one of /spec or /pause (the one who remove your tee from the game don't remember which one) behave as current pause, aka make other players visible and hearable

We should also check if there is merge issue with new code but that should be fine

[2011-12-25 13:26] heinrich5991 commented on #85
I only know the file to start with: [gamecore.cpp, line 434](https://github.com/GreYFoX/teeworlds/blob/DDRace/src/game/gamecore.cpp#L434)

[2011-12-25 17:54] Shahan commented on #85
this bug appeared after "hammerfly fix" https://github.com/oy/teeworlds/commit/7db6d1e0567ee439e67c83a0ef670db9b419cfb6
so you can change physics back, and activate new collision only if 2 players have different pos Y

[2011-12-26 12:12] GreYFoX commented on #128
Any more feedback ?

[2011-12-26 12:12] GreYFoX commented on #128
oops!

[2011-12-26 12:13] GreYFoX commented on #129
THis seems like an infinite loop, if the server doesn't show a log message, try placing dbg_msg in all the suspect loops if you wanna help

[2011-12-26 12:14] GreYFoX commented on #107
for some reason i didn't notice this
@Laxa can you set the milestones on each issue for example this should be fixed before going beta (and all crashes)

[2011-12-26 12:15] GreYFoX commented on #110
Is this still present ?
@Laxa if no close it, if yes please let me know on irc with highlight or email

[2011-12-26 12:18] GreYFoX commented on #109
@Fisico please edit the entities_clear.png to show a combination of all tiles on entities.png files like tele,speedup,swithch...etc

[2011-12-26 12:19] GreYFoX commented on #104
this is fixed, and if it's not then the person using the bullets modified the shotgun_curvature tune

[2011-12-26 12:19] #104 closed, assigned to nobody

[2011-12-26 12:20] GreYFoX commented on #104
@Laxa please if you find an issue you can't verify or think it's done, close it and mention @greyfox so that i would take a look later

[2011-12-26 12:21] GreYFoX commented on #105
I wanted to make DDRace compatible with Race servers but for some reason @btd didn't agree at the time
if he doesn't clarify why soon, i will edit DDRace to be compatible with racemod or i will do a pul lrequest and edit DDRace to standardize them both to something better

[2011-12-26 12:26] GreYFoX commented on #99
@Styvi26 does this till apply ?

[2011-12-26 12:27] GreYFoX commented on #95
Does this still apply @Laxa ?

[2011-12-26 12:28] GreYFoX commented on #71
Is this still present ?

[2011-12-26 12:32] GreYFoX commented on #85
I'll see what i can do

[2011-12-26 12:39] #42 closed, assigned to nobody

[2011-12-26 12:43] GreYFoX commented on #30
I forgot the objectives of this issue and why it was necessary and no one is working on it so i am closing it!

[2011-12-26 12:43] #30 closed, assigned to heinrich5991

[2011-12-26 12:43] GreYFoX commented on #32
Done

[2011-12-26 12:43] #32 closed, assigned to nobody

[2011-12-26 12:44] GreYFoX commented on #46
@landil what's this image ? @Fisico can you please get me a screenshot ?

[2011-12-26 12:50] senyai commented on #71
I'd check it out, but I can't compile the latest version:

[code]

[2011-12-26 13:02] btd commented on #105
I agree with making it supports both.

[2011-12-26 16:17] laxa commented on #85
@greyfox: fixed !

[2011-12-26 16:17] #85 closed, assigned to GreYFoX

[2011-12-26 17:03] GreYFoX commented on #85
i came to close it, thanks @Laxa for closing it i am happy :)

[2011-12-26 17:06] laxa commented on #95
Yeah, broadcast is broken after a tee has go through a solo entitie, no way of "fixing" it going through off solo entitie.
Only kill makes broadcast come again.

[2011-12-26 21:26] Learath2 commented on #46
that image is a tee in icecube

[2011-12-26 21:32] Learath2 commented on #34
what would coloring team members differently help you cant see the other teams anyways

[2011-12-26 23:46] heinrich5991 commented on #71
`bam config`
fixes this

[2011-12-27 09:19] GreYFoX commented on #34
@Learath2 you can if you use DDRace Client

[2011-12-27 10:20] #94 closed, assigned to GreYFoX

[2011-12-27 10:24] GreYFoX commented on #128
@FeoOne feedback ? @XXLTomate Feedback!

[2011-12-27 11:23] senyai commented on #71
@heinrich5991 thx, compilation is ok now
@GreYFoX, yes bug is still there

[2011-12-27 11:34] GreYFoX commented on #71
@senyai please write the steps you used to test it

[2011-12-27 11:36] GreYFoX commented on #29
I have decided not to fix this, for the lack of easy ways to do it, the performance over benefit ratio is just too low...
and it can be fixed with good mapping, you have multisized doors for a reason

[2011-12-27 11:36] #29 closed, assigned to GreYFoX

[2011-12-27 11:37] GreYFoX commented on #29
@learath2 please add this to the wiki to known issues and also add it in the map tile section in a note under Doors

[2011-12-27 11:51] senyai commented on #71
@GreYFoX  My first post has the code - that's it. I use python 2.6.
I noticed my config file has \r\n endings, all the RCON related lines I have are:

[code]

[2011-12-27 12:10] GreYFoX commented on #95
@laxa the broadcast message !! ?!! i think i removed it !

[2011-12-27 13:49] Fisico commented on #46
@GreYFoX
this
https://github.com/MAP94/Nodes/blob/1dddaee8270545dbaa67df1c067cb00705c0c44a/img/fx_ice.png?raw=true

[2011-12-27 13:50] Fisico commented on #109
@greyfox
sorry i lost all my rawfiles of the ddrace_entities... :(

[2011-12-27 15:04] GreYFoX commented on #109
@Fisico np, take your time, there is nothing critical about this issue

[2011-12-27 15:09] GreYFoX commented on #46
@landil can we use your ice skin ?

[2011-12-27 15:21] GreYFoX commented on #71
E:\Users\shereef\Desktop>econ.py

E:\Users\shereef\Desktop>econ.py

[11-12-27 17:18:27][econ]: client accepted. cid=0 addr=127.0.0.1:56313'
[11-12-27 17:18:27][econ]: cid=0 authed
[11-12-27 17:18:27][econ]: client dropped. cid=0 addr=127.0.0.1:56313 reason='failed to send packet'
[11-12-27 17:18:40][econ]: client accepted. cid=0 addr=127.0.0.1:56319'
[11-12-27 17:18:40][econ]: cid=0 authed
[11-12-

[2011-12-27 15:21] GreYFoX commented on #71
I don't have ipv6 yet on that machine so:

import telnetlib
HOST = "127.0.0.1"
PASSWORD = "TEST"
tn = telnetlib.Telnet(HOST, 8406)
tn.read_until("Enter password:")
tn.write(PASSWORD + "\n")
tn.write("say TELNET TEST\n")
tn.close()
print tn.read_all()

[2011-12-27 15:25] GreYFoX commented on #71
Using Telnet

Enter password:
TEST
Authentication successful. External console access granted.
[econ]: cid=0 authed
shutdown
[server]: cid=0 cmd='shutdown'
closing console

Connection to host lost.

Press any key to continue...

[2011-12-27 15:27] GreYFoX commented on #71
i'm no python coder but @senyai ....
<code>
import telnetlib
HOST = "127.0.0.1"
PASSWORD = "TEST"
tn = telnetlib.Telnet(HOST, 8406)
tn.read_until("Enter password:")
tn.write(PASSWORD + "\n")
tn.read_until("authed")
tn.write("say TELNET TEST\n")
tn.read_until("TEST\n")
tn.write("shutdown\n")
tn.close()
print tn.read_all()
</code>

use a proper client.
closed...

[2011-12-27 15:27] #71 closed, assigned to GreYFoX

[2011-12-27 17:30] senyai commented on #71
@GreYFoX I have no trouble using proper client. I'm sure this bug is linux specific, and maybe it has nothing to do with DDrace but teeworlds.

[code]

I cannot find out why SIGPIPE happens - pipe is ok when you send 'Enter password:' and 'Authentication successful. External console access granted.' but fails at '"[econ]: cid=0 authed"'. When I added sleeps it worked.

[code]

[2011-12-27 19:22] laxa commented on #95
I am not talking about broadcast message, but about sounds.

[2011-12-27 20:17] GreYFoX commented on #95
It's called sound mask

[2011-12-28 01:20] AdVetter commented on #128
@GreYFoX nothing new from my side, my server is always between ~7 and ~12mb ram

[2011-12-28 06:35] GreYFoX commented on #128
Then i deem this issue INVALID.

[2011-12-28 06:35] #128 closed, assigned to nobody

[2011-12-29 12:23] #100 closed, assigned to nobody

[2011-12-29 12:23] #123 closed, assigned to nobody

[2011-12-29 13:35] ravomavain commented on #127
@senyai : are you sure about 2) ? if players use normal chat you should hear them in all other teams, if they use team chat, there is no reasons to hear them if you are not in their team (i think).

[2011-12-29 17:14] senyai commented on #127
@ravomavain I mean no weapon sounds

[2011-12-29 18:19] Learath2 commented on #102
https://github.com/oy/teeworlds/pull/905

[2011-12-30 23:49] #127 closed, assigned to ravomavain

[2011-12-31 09:04] ravomavain commented on #33
What I suggest:
- when you are in free view, you can see everybody
- when you spectate one player, you see only it's team mates
  With that, no need of client side feature

[2012-01-03 16:52] senyai commented on #110
@GreYFoX yes :(

[2012-01-05 06:38] GreYFoX commented on #102
merged oy

[2012-01-05 06:38] #102 closed, assigned to GreYFoX

[2012-01-05 06:38] #33 closed, assigned to GreYFoX

[2012-01-07 21:33] heinrich5991 opened #139 "prediction fails in ddrace client"
According to MobyDog, the prediction of tee collision fails with show_others on.

[2012-01-09 15:09] Fisico commented on #41
new checkpoint entities
task for today.
but this issue ist done.

[2012-01-09 15:10] #41 closed, assigned to nobody

[2012-01-09 15:10] Fisico opened #140 "New Checkpoint Entities"
new checkpoint entities
@GreYFoX @ravomavain task for today.

[2012-01-09 17:28] Landil commented on #46
I check github rarely, query me at IRC or PM me at the forum.

Of course you can use the ice graphics!

[2012-01-09 17:34] heinrich5991 commented on #139
tee hook prediction also doesn't work, here we got a screenshot:
http://i.imgur.com/yzJHC.png

(I fail with using images in markdown)

[2012-01-10 14:09] GreYFoX commented on #109
i did it and forgot to close

[2012-01-10 14:09] #109 closed, assigned to nobody

[2012-01-10 14:11] GreYFoX commented on #46
Thanks, when i have free time i will do it

[2012-01-10 17:52] Fisico commented on #46
you need the sound and the ice explosion to

sound:
https://github.com/MAP94/Nodes/blob/master/audio/crt_ice-01.wv

ice explosion:
https://github.com/MAP94/Nodes/blob/master/img/fx_ice_explosion.png

ice:
https://github.com/MAP94/Nodes/blob/master/img/fx_ice.png

[2012-01-27 18:49] disarmer opened #142 "emote happy ^^"
all players have permanent "emote happy"

[2012-01-28 11:09] GreYFoX commented on #142
Yea i did this for the happy new year

[2012-01-28 11:20] disarmer commented on #142
ah, nice^^

[2012-01-28 11:20] #142 closed, assigned to nobody

[2012-02-01 20:49] AdVetter opened #144 "Mute is broken"
The mute system is broken.
( ip stored incorrect ?!)

[2012-02-05 12:51] Masscrone opened #146 "Foot Critical Crash Bug"
If you shoot the ball to the upper unhookable tiles, server crashes.

Demo: http://www.mediafire.com/?cdz7anjtbxbb45c

[2012-02-09 10:11] Learath2 commented on #146
@GreYFoX its a teefoot bug that still applies.

[2012-02-09 10:12] Learath2 commented on #144
@XXLTomate Fixed why not close it :)

[2012-02-09 12:26] GreYFoX commented on #146
How to reproduce
On Feb 9, 2012 12:11 PM, "Learath2" <
reply@reply.github.com>
wrote:

[2012-02-09 17:46] Learath2 commented on #146
@GreYFoX get the ball go on the goal jump and shoot up

[2012-02-09 18:20] AdVetter commented on #144
dce5e8434b94f9f6eff248de5f72a383828722fe

[2012-02-09 18:20] #144 closed, assigned to nobody

[2012-02-11 13:37] senyai commented on #122
After server is running for a long time (about month) I have all zeros.

[2012-02-14 16:07] Shereef commented on #146
yea i love doing that when i am loosing but i forget to fix it :D

[2012-02-14 17:47] Learath2 commented on #146
@Shereef Shame on you

[2012-02-14 19:19] GreYFoX commented on #146
Mhm

[2012-02-28 17:08] Learath2 commented on #66
@GreYFoX you can bypass a 84 tile tele wall with a LOT of speed near 6000

[2012-03-20 19:37] Tsin opened #152 "more skins"
ddrace client should be for everyone
not a client that i like him so i will add their clan skins (yeah procodex stuff)

thats why i would like to see more skins added
for example
miper, oaky, spitfire, zatline,
https://www.teeworlds.com/forum/viewtopic.php?id=7307

https://www.teeworlds.com/forum/viewtopic.php?id=8408

https://www.teeworlds.com/forum/viewtopic.php?id=7820

[2012-03-20 21:14] laxa commented on #152
I am against this, client size should be minimal, each player should download the skins he wants to use/see.

But a feature to broadcast the skin name of each player would be good though.

[2012-03-21 03:49] nicolajkl commented on #152
This is a very good idea :D Sounds like something i heard before ;).. I think its a good idea, but it would be an even greater idea to add this to the vanilla client.

[2012-03-21 03:51] nicolajkl opened #153 "Client side scroll broken"
Says it all.. The scroll in menu's and stuff is extremely weird.

[2012-03-21 09:50] laxa commented on #153
Got this problem too, can't use the wheel of the mouse to scroll :(.

[2012-03-21 15:07] Learath2 commented on #153
Not a DDRace issue teeworlds/teeworlds#913

[2012-03-22 07:45] heinrich5991 commented on #152
Sounds good, however a skin-on-demand-loading should be implemented.

[2012-03-23 20:46] Learath2 commented on #152
sorry too much for me i cant do that :D

[2012-03-26 08:58] sMo0g opened #155 ""Plus double" tile"
What about to do tile which gives to tee a dj? If he already used it.. I think we'll could do nice parts with this thing.

[2012-03-26 09:37] eeeee commented on #155
What about to do hooker bot which gives to tee a bj?
// next time please write "double jump" instead of "dj", it takes so long to figure

[2012-03-28 18:08] Learath2 opened #157 "Spectator info"
laxa : We should have the spectated players time and team broadcasted while in spectators.

Btw just posted here so everyone can see didnt want to mass highlight in irc and honestly no one checks the forums.

[2012-03-29 12:15] heinrich5991 commented on #157
'no one checks the forum' - I do :)

and choose a better title please :)

[2012-03-30 16:35] alandball opened #158 "mod_command ban doesnt work when in config"
When using config to set privileges
To set moderator access to ban/bans,
I do mod_command for different commands

But for ban and bans it says
No such command: 'ban'
No such command: 'bans'

When I do it in server using f2 it works.

[2012-03-30 17:49] alandball opened #159 "super doesnt work even if sv_test_cmds 1"
Cannot test maps or go through them using super as tee still freezes

[2012-03-30 18:03] heinrich5991 commented on #159
It's `sv_test_cmds`.

[2012-03-30 18:13] heinrich5991 commented on #158
This should fix it:

[code]

The issue probably exists in vanilla too.

[2012-03-31 18:30] Learath2 commented on #158
Vanilla issue teeworlds/teeworlds#942

[2012-04-02 17:55] alandball commented on #159
Thats not the point o.O. I use tab to get correct setting. I even say it on its own and server replies with what its value is. I will test it if I start up server with tests cmds 1.

I'm noobie... not even going to say what I forgot to disable.

[2012-04-03 15:43] #159 closed, assigned to nobody

[2012-04-05 14:30] alandball commented on #158
heinrich, unless I changed the code in the sources incorrectly, what you posted doesn't fix the problem.

[2012-04-10 13:48] #37 closed, assigned to GreYFoX

[2012-04-10 13:48] #40 closed, assigned to nobody

[2012-04-10 13:48] #34 closed, assigned to GreYFoX

[2012-04-10 13:48] #35 closed, assigned to GreYFoX

[2012-04-10 13:48] #51 closed, assigned to GreYFoX

[2012-04-10 13:48] #65 closed, assigned to nobody

[2012-04-10 13:48] #95 closed, assigned to GreYFoX

[2012-04-10 13:48] #105 closed, assigned to GreYFoX

[2012-04-15 11:09] Tsin opened #165 "nickname has left the game (upgrade your client to n-client)"
in my opinion no client should be able to send server messages

please do something about it

[2012-04-21 04:39] 3da opened #166 "rework pause"
using /pause command should not destroy character from the game. Character should stay in the game. So /pause will not be cheat!  :)

[2012-04-21 12:09] GreYFoX commented on #166
I recommend you jn DDRacemaX server and trying /pause.
@ravomavain And @heinrich5991 Created a command /spec which takes over when /pause is disabled (which is the case of ddmax), you automatically spectate without killing your character, which does not make it a cheat.

Thanks for your efforts in creating DDRace 3da, and currently I find my self very busy if you want to take over once again pleas

[2012-04-21 12:09] #166 closed, assigned to nobody

[2012-04-21 13:33] heinrich5991 commented on #166
hey 3da, long time since you last showed up :) welcome back

[2012-04-21 20:46] Learath2 commented on #166
Wow its really you never seen you before. Started thinking that you weren't real :)

[2012-04-22 04:19] 3da commented on #166
/spec is fine! Thanks guys!

[2012-04-26 16:51] alandball commented on #165
When someone disconnects it says player has left the game(no reason given).
If the client sends a reason then it will put that reason in.. Maybe remove the whole thing for reason if its a normal disconnect?

And if its a timeout, then give the reason?

[2012-04-26 17:44] Tsin commented on #165
timeouts are a normal server info and that must be =D

[2012-04-26 18:45] Tsin opened #168 "SQL crash bug - Nonresponsive console"
After working for a while servers become nonresponsive to all console commands.

sql just drops

then /top5 and changing maps dont work

 the only way to fix it is to shutdown the server =/ (restart command dont help)

there should be any sql check if it works and if not then relink it or something

[2012-04-26 20:00] Learath2 commented on #168
SQL is really buggy now with the new code its not just reconnect anymore its the whole SQL itself im not sure how to fix it anymore. It can't even connect to the server now on my computer atleast.

[2012-04-26 20:01] Learath2 commented on #165
teeworlds/teeworlds#950 Fixed :)

[2012-04-26 20:16] Tsin commented on #165
yeah fixed closing :D

[2012-04-26 20:16] #165 closed, assigned to nobody

[2012-04-26 21:39] alandball commented on #166
Add an option to be able to see players in other teams or not, please?

Edit: for example, will help in tournament/league so players cant see other teams what they doing, especially if the team is stuck on an unseen map, they must figure out themselves and not just copy.

Edit: heinrich, ok.

[2012-04-26 21:42] alandball commented on #158
its fixed, when greyfox updates code from oy/teeworlds it will be fixed

[2012-04-27 16:06] heinrich5991 commented on #166
open a new issue please

[2012-04-29 15:57] Tsin opened #170 "new record system"
first of all
"/top5" why not just change it to "/top"

theres no command like "/top10" "/top20" so why keep top5

second
maybe its the right time to make
"/topteam"
and it would only show team records

ofcourse this would need a new way of saving teams into 1 record
1. player A, player B time
2. placer C, player D time

i hope that one day will finally show up a person that might do it

couse now

[2012-04-29 16:15] Tsin opened #171 "some changes on teams for "/pause" "/spec" players"
the idea is very simple

you are in a middle of that map  (map is quiet huge and hard)
you failed and now you wait for other players

so in the meantime you go on "/pause" "/spec" maybe there should be team color system

visible for this kind of players

so when you are on pause you see all players that are in teams on diffrent colors (1 team blue, 2  team yellow, etc)

but the players that are in

[2012-04-29 16:16] heinrich5991 commented on #171
great idea, support that :)

[2012-04-29 16:19] Tsin opened #172 "fast download system by eeeee"
2 weeks ago eeeee tried to do something with the slow download system

we had an idea to first test it on ddmax but now as i see it works fine on eeeee's blocker server

theres no point of special test and i think it might go to the main ddrace

to make it clear this is a very must needed feature

from a good server i download 14mb map in 1 minute =P
now the sytem allowes to download 1mb in about

[2012-04-29 17:02] ravomavain commented on #171
good idea, will be better than just hiding other players as it was sometime proposed :-)

[2012-04-29 17:05] ravomavain commented on #172
Awesome :-) if it work fine we should also add it to vanilla ;-)

[2012-04-29 17:05] Tsin commented on #171
dont know who had that idea for that "hiding players" but thats not a good idea because some players still might want to see what players in teams are doing

[2012-04-29 17:08] Tsin commented on #172
yeah there was a little problem

it works fine for 99.9 % people

we noted 1 person that had pathetic download on (i think it was) ddrace client then he changed to vanilla client and he had a very very nice download he also download 1 mb map in few seconds

so if thats true

then there would be some clients (maybe some old versions) that still might have the problem
but it was tested on 0.6 and 0.

[2012-04-29 20:09] Tsin commented on #170
HPRace have this feature from the whole beginning of its existing

http://img6.imagebanana.com/img/sqrwkj8r/records.png

heres the HPRace 2.0 code ported to 0.6.1
http://www.solidfiles.com/d/5bd28dc212/

[2012-04-30 16:38] Learath2 commented on #170
@Tsin actually you can do /top5 6 thats weird :D We should just have /top i think +1

[2012-05-02 19:15] Tsin opened #175 "new votes compare to old votes"
in old vote map change system

all people that didnt vote yet were treated as vote "no"

from what i see now on ddracemax with new system

1 person makes a vote for map (1 yes)
15 people dont give a fuck to vote no

vote passes with 1 vote for yes, map changes lots of people are angry

maybe lets get back to old vote system

then it will be 100% for sure that 60% of server must vote yes for map ch

[2012-05-02 19:19] heinrich5991 commented on #175
suggestion:
kick/force pause: current voting system
other votes: old voting system

[2012-05-02 19:21] Tsin commented on #175
yes im only talking about vote system for map changes

so current vote system even "must" stay for kick move to spec

if not then no bitch would be ever kicked or banned

[2012-05-15 22:00] Tsin opened #177 "kick vote requires 5 players"
very nice feature ive seen it on xllddrace server

[2012-05-16 02:25] Tsin opened #178 "ddrace organization ?"
i know it might sound funny but think of it

we need a new code maintainers couse i see that GreyFox dont have time  =/

we see lots of ddrace mod forks showing up in 0.6 so i was thinking

why not make a group of ddrace devs that would kept an eye on the mod

so all this xllddrace i ddrace whatever its called devs would have better access to the main branch would gain help from other devs to thei

[2012-05-16 23:55] GreYFoX commented on #178
There is already an organization named @DDRace and i created it some time ago, this is planned but at the moment i thin kthat all others devs on other ddrace mods are equally busy and most of the may not know how to merge oy
and if someone wants to help git allows them to help, so for now nothing should be changed

[2012-05-18 16:56] GreYFoX commented on #177
@XXLTomate Pull request ?

[2012-05-18 22:41] AdVetter commented on #177
I can't remember that I've added such a feature, but I can make a pull request anyway when I have time.

[2012-05-19 01:03] GreYFoX commented on #175
@heinrich5991 Agreed.

[2012-05-19 01:04] GreYFoX commented on #172
Wasn't this added to 0.7 ? If yes then this is done

[2012-05-19 10:28] Learath2 commented on #175
Well current voting system works weirdly sometimes passes when 50% sometimes doesnt

[2012-05-19 10:30] Learath2 commented on #172
You mean vanilla 0.7 no I don't remember this being pulled in vanilla.

[2012-05-19 15:53] Learath2 commented on #49
Is this a confirmed bug ?

[2012-05-19 16:23] Tsin commented on #172
i think greyfox is talking about new download system that was in plans for 0.7 (from what i heard it might be added in 0.8)
and not about this exacly "patch" by eeeee

[2012-05-19 16:49] Learath2 commented on #172
Either way @GreYFoX not added yet

[2012-05-20 23:49] bluuue opened #180 "Problems with the mapeditor"
hello,
At the moment i make a map with the DDRace.exe  mapeditor (1.12a)
It is very big (500x500 Tiles). Today I added a Tileset to my map and then i made some Teleports.
After that i had the problem that the gui of the mapeditor didnt react anymore, especially when i zoom out.
Is there still a fix for that or could you make one? I can send you the map if you want to test it.
I also sent the map t

[2012-05-20 23:52] eeeee commented on #180
Do you experience same problems when opening the map in teeworlds.exe mapeditor?

[2012-05-20 23:59] bluuue commented on #180
no when i try to load the map with the normal mapeditor the program gets closed completely because im using a tele layer and speedup

[2012-05-21 00:09] bluuue commented on #180
btw its the newest 1.12a version which i used.  I tried it with the oldest 1.12a now, but i have the same problem.
my computer:  i7 920,  6gb ram, win xp

[2012-05-21 00:24] eeeee commented on #180
you should post your map to some file uploading service, somebody will check it out then

[2012-05-21 01:59] bluuue commented on #180
https://rapidshare.com/#!download|758p1|1702300381|LowPossibility3.map|604|R~3D291F666272C01B522A2F8A037E1693|0|0

here the map. i hope that it worked

[2012-05-21 12:39] Tsin commented on #180
i just checked the map and it works fine on 0.96a  total zoom out no problems  (ofcourse the game gets less fps but still works) and total zoom in also fine

wont test on 1.12 couse i dont like that version =P and its entities :P

[2012-05-21 13:06] bluuue commented on #180
yeah it works fine on 0.96a, thanks a lot

[2012-05-21 18:39] AdVetter commented on #177
This feature was already added to vanilla 0640acb27e9ffb756439aec07b6b07c8ec314c01

[2012-05-21 18:39] #177 closed, assigned to AdVetter

[2012-05-21 18:44] Tsin commented on #177
yep sv_vote_kick_min  works fine thank you for checking

[2012-05-22 15:40] Learath2 commented on #180
Whats the problem with that :/

[2012-06-15 03:34] Tsin opened #181 "red hook lasers load after kill"
very strange bug you can check it on ddmax classic  map skynet 9

when you load the map you have no lasers to drag you

then one tee just need to kill and lasers appear and work

ddrace 1.12a

before kill
http://img6.imagebanana.com/img/v9fuvvf3/before.png

after kill
http://img6.imagebanana.com/img/briy8gus/after.png

[2012-06-15 09:29] alandball commented on #155
If this feature to be implemented, the code already exists in XXLDDRace, just to let you know so you dont waste time redoing it.

[2012-06-19 19:53] SamuelGold commented on #168
Have the same problem: data not saved, top not work.
Log:
[12-06-19 22:39:41][chat]: **\* PoKeMoN [TD] finished in: 2 minute(s) 21.72 second(s)
[12-06-19 22:39:44][chat-command]: 9 used /rank
[12-06-19 22:39:44][SQL]: SQL connection established
[12-06-19 22:39:44][SQL]: Showing rank done
[12-06-19 22:39:44][SQL]: SQL connection disconnected

Map table doesn't consist PoKeMoN string with him time.

[2012-06-22 19:14] Learath2 commented on #168
There is a problem with the sql wrapper used by the ddrace as either we needto include a huge library or use an old one when compiled on new (2005+) MSVC the old one doesnt work so there are some compatiability issues then coding issues. Hope i was clear enough.

[2012-06-22 19:17] SamuelGold commented on #168
I see this problem on Linux, I build the server via bam.

[2012-06-22 19:57] Learath2 commented on #168
I might have prettymuch killed it will fix it on 0.7 release.

[2012-06-24 20:50] senyai opened #182 "Start timer tile"
Hi!

   Start tile does not work at all when it is on _Front_ layer.

[2012-06-30 17:40] alandball commented on #158
Hi, the commit from teeworlds to fix this has yet to be implemented.
Here is a link to oy's commit that he fixed it https://github.com/teeworlds/teeworlds/commit/9fee99b2f6429b7049fc078ddcdeae5e4c74a60b

[2012-07-01 15:23] Learath2 commented on #182
Added to my TODO list

[2012-07-01 15:25] Learath2 commented on #158
As oys branch is now on a active state 0.6 -> 0.7 we arent pushing anything from there to ddr branch

[2012-07-01 15:25] Learath2 commented on #158
Ill try to merge that by hand

[2012-07-01 23:11] Tsin opened #183 "ban range bug (bans out of range)"
this is ofcourse vanilla bug and its fixed

https://github.com/teeworlds/teeworlds/pull/946

but we dont have it in ddrace fixed so maybe someone could merge it ^^

[2012-07-14 06:47] Tsin opened #185 "admin in status (fixed in 0.7)"
please add something to status in rcon  couse now you cant know who is "authed as admin and who not"

[2012-07-14 16:39] Learath2 commented on #185
Will try to do it...

[2012-07-16 18:32] theanomaly18 opened #186 "Lasers starting inverted"
Sometimes, randomly as far as I can tell, the laser doors start inverted (on instead of off, etc.) and the pull lasers aren't even there. It's an annoying bug that makes the map too easy randomly and some maps impossible.

[2012-07-17 12:07] heinrich5991 commented on #185
maybe do this for vanilla instead

[2012-07-17 12:23] alandball commented on #185
It used to have in 0.5.2, the level of the player

[2012-07-18 21:59] Tsin commented on #183
cmon guys add it rly its very needed =/

[2012-07-20 12:33] Learath2 commented on #183
Fixed but oh well i can't close it :)  0d7c19889bcf2ce085c57aa681fa8021c8e9f152 & c7f8697c51181db257a865c8e7113fd6b706f22d

[2012-07-20 12:35] Tsin commented on #183
thank you fixed closed ;]

[2012-07-20 12:36] #183 closed, assigned to nobody

[2012-07-20 14:15] AdVetter commented on #49
Fixed ec3c96abd6e82bd96a926e95cd2d51caaeff2869

[2012-07-20 14:15] #49 closed, assigned to GreYFoX

[2012-07-22 07:49] Tsin commented on #46
please keep it as an "on/off" option in ddrace tab
default "on"

[2012-07-24 04:13] Shereef opened #187 "Names shouldn't start with /"
In Teeworlds / means nothing but in DDRace it does, so for people who have their names starting with / the server should replace it with _ or just shifts it 1 character and add a space in the beginning, just so that tab completion works in the beginning of a sentence

[2012-07-24 10:26] heinrich5991 commented on #187
not sure if that wuold be a good idea, could cause some conflicts.

if someone has a name like '/mephisto\', '_mephisto\' would look ugly. If someone uses the full name length and everything gets shifted (not even sure whether it would work, maybe the client strips starting whitespace), the name would be shortened.

[2012-07-24 11:17] Shereef commented on #187
I think the rename with a warning chat message is the way to go, or just
remove all forward slashes from start of name and warn

sent from my Galaxy Nexus (Android doesn't support HTML email formatting)
On Jul 24, 2012 12:27 PM, "heinrich5991" <
reply@reply.github.com>
wrote:

[2012-07-24 13:38] theanomaly18 commented on #186
Latest version

[2012-07-24 18:12] Tsin commented on #187
btw maybe new "punishment" ^^

id 3 = nameless tee

"rename 3(id) "i love cows"

and a message

player "nameless tee" was renamed to "i love cows"

this would be better because it makes a good laugh of a bad player whole server can laugh and giving bans/mutes etc dont rly work in this game :P

yeah maybe i should start a new issue but rly dont know if you will approve it and spamming this git with

[2012-07-24 23:26] theanomaly18 commented on #186
It may still be in 0.7 trunk, but also the stable 0.6 versions

[2012-07-25 08:21] heinrich5991 commented on #187
I completely disagree with this feature, it will definitely be abused by kiddy admins.

[2012-07-25 09:26] Tsin commented on #187
first of all why do you care about kiddy admins

lets face it normal people play on "trusted" servers like procodex ddracemax or that russian server "konat4"

other servers are all with iddrace or xllddrace aka for nooby kiddy admins so who cares about them

[2012-07-25 09:33] Shereef commented on #187
Tsin, we don't want to give the admin too much control.
It's either a server feature that is unmodifiable or it's not there at all, because when an admin abuses his authority DDRace name gets run down to the ground, not him.

[2012-07-25 09:41] Tsin commented on #187
so lets see a kid with nickname

Penis or Fuck You or Your Mother Sucks Dicks whatever plays

now i can mute him (oh wait he wont care)
i will give him ban
everyone on server will act like "why did you give him ban"

or rename his nickname to "I love cows"

[2012-07-25 11:28] heinrich5991 commented on #187
just ban him - simple stuff

[2012-07-26 14:21] Learath2 commented on #187
Muted players shouldnt be able to change names in my opinion..

[2012-07-26 15:56] Learath2 commented on #185
Added it teeworlds/teeworlds#985.

[2012-07-26 16:10] Tsin commented on #187
agree with one exception players muted by admin shouldnt be able to change names

but dont touch the players muted by server

[2012-07-29 11:28] Tsin opened #188 "nicknames in bans ?"
example :
#0 192.168.0.1 time (nameless tee / No reason given)

now bans look like this :
#0 192.168.0.1 23 minutes (No reason given)

you only know the ip, the time and the reason (if there was any)

but you dont know to whom this ban was given

another useful function would be "ban nameless tee"  with auto completion
this should be added for kick, set_team, etc too

very important nickname shoul

[2012-07-29 11:34] Tsin commented on #185
oy added it to code =) so i dont know if i should close the issue or wait till we have it merged in ddrace
https://github.com/teeworlds/teeworlds/commit/78e18dc2cb4f5c537c212c8ff2a6ccc9e2f31981

[2012-07-29 11:36] Learath2 commented on #188
Will try to add the nicknames to the bans. No promises and won't push it to github.

[2012-07-29 11:40] Learath2 commented on #185
Tsin won't merge on github most prolly just yet.

[2012-07-30 01:24] eeeee commented on #188
why is that?

[2012-07-30 22:59] Tsin commented on #188
also i wonder about some adding nicnames to rangebans

[2012-08-06 10:11] nikola924 opened #189 "Server crashing/lagging cheat"
Hi,

someone made a new cheat that makes the server lag, like, a lot. Here's a demo of it: http://www.sendspace.com/file/j4ocyj

[2012-08-10 09:42] AdVetter commented on #189
Demo shows fast reconnecting clients.

[2012-08-10 15:03] nikola924 commented on #189
Exactly. That causes the whole server to lag. If you press TAB while playing the demo, you'd see that everyone has ping on 1000.

[2012-08-10 19:52] eeeee commented on #189
@nikola924 this is likely an old (https://www.teeworlds.com/forum/viewtopic.php?id=8947) issue in teeworlds and not only in ddrace, please refile it at https://github.com/teeworlds/teeworlds

[2012-08-22 21:17] eeeee commented on #187
If it was up to me, i'd allow only latin letters and numbers in nicknames, coz its annoying when some kid has only UTF shit in nickname and you cant even refer to him in chat.

[2012-08-22 21:52] ravomavain commented on #187
Why not simply refuse the connection or immediately kick (depending on when the nick is available to the server) player whose name start with / with a kick message like "Nickname shouldn't start with /" ?
So it avoid nickname conflicts (which could also be handled by adding (1) at the end like we do for nameless tee) and player won't ask questions like "why my nickname have been changed".

[2012-08-25 20:03] Tsin commented on #181
big thx to "cat"

https://github.com/aelio/teeworlds/commit/8bf3e0a2653b25ce0b361b12538d54aac45962a0

Learath2 please take care of it ^^

[2012-08-26 07:17] #181 closed, assigned to nobody

[2012-08-26 07:24] Shereef commented on #181
finally the comments are removed, git amend ftw, i was so rusty i forgot to --all :D

[2012-08-26 18:05] ghost commented on #153
https://github.com/teeworlds/teeworlds/commit/8372849cbafb02a58fcf8aa7c706cad5c5f16731

current workaround, which works for most of the stuff
(current GUI is not really build well for the current asyncrender implementation)

[2012-08-27 22:13] aelio commented on #181
Hi there. The nature of issue is that tee's team is unknown untill tees death (thus team 0 is empty and dragger isnt activated), so i moved team reset code to DDRaceInit. Not sure if it wont arise some issues, when, for example, one team member gets disconnected. Maybe we have to keep that removed line, dunno ^^.

[2012-08-28 08:20] Tsin opened #190 "doors open on teams (cheat/bug)"
example  (you can test this on map Lime server ofcourse ddmax, most of you know this cheat/bug couse its old but yet i dont see any issue =P)

Tsin 1 and Tsin 2 make a team 1

now

we go to a door Tsin 1 is on switch

doors are open

now both Tsin 1 and Tsin 2 kill go again to Team 1 (Tsin 1 must kill when he is on switch tile)

and now they can go through that door because they are still open

fi

[2012-08-28 08:21] Tsin commented on #181
"cat" as you already touch the teams and lasers maybe you would be interested in issue 190 ^^

https://github.com/DDRace/teeworlds/issues/190

[2012-08-28 12:19] aelio commented on #181
It would be great if someone provide little test map for this case :3
  ----- Original Message -----
  From: Tsin
  To: DDRace/teeworlds
  Cc: aelio
  Sent: Tuesday, August 28, 2012 12:21 PM
  Subject: Re: [teeworlds] red hook lasers load after kill (#181)

  "cat" as you already touch the teams and lasers maybe you would be interested in issue 190 ^^

  https://github.com/DDRace/teeworlds/issues/

[2012-08-28 13:52] Tsin commented on #181
you want a test map sure not a problem i will upload here changed version of "Lime" from ddmax so it will be easy to test ^^

[2012-09-08 16:03] Learath2 commented on #178
Done i guess :)

[2012-09-08 16:03] #178 closed, assigned to nobody

[2012-09-08 16:09] Learath2 commented on #158
Done

[2012-09-08 16:09] #158 closed, assigned to nobody

[2012-10-14 00:40] walter-P2Z commented on #180
Hi,

I wanted to signals this editor problem. I actually can't map with the latest windows build because the editors make some weird stuffs that happens randomly :
- The GUI totaly disappears. (see : http://dl.free.fr/oBhexQMT6)
- The GUI partialy disappears. (see : http://dl.free.fr/ep77QZMlw)
- Mouse and keyboard doesn't works sometimes.

An example of map that makes the editor bugs can be downl

[2012-10-15 10:48] Learath2 commented on #180
If i could reproduce it. Mapped for a good hr or two using everything I see in the editor just to make it reproduce it. No success. Tried it with your maps too it just wouldn't reproduce it. Damn comment and close button...

[2012-10-15 10:50] Learath2 commented on #155
@GreYFoX what do you think about this. Couldn't decide if I should close it.

[2012-10-15 20:37] walter-P2Z commented on #180
Hi,

I'm happy to see that this issue is still opened ;D
i made a little video where i present a rapid way to make the editor bug : http://dl.free.fr/tKBn8lXvg

Steps are :
- Open the map
- zoom out 5/6 times
- move with Ctrl+mouse (or middle bouton)

Video made on this build :

[code]

Information about my system :

[code]

I finally succed to test on Linux and the result is exactly the same !

[

[2012-10-16 10:47] Shereef commented on #155
why not use a stopper top tile ?
the tile that stops tees from falling
like in angry 2 i think

there is this part where you need to hold space and it will get you to climb up and you have to go right then left to go through the stopper so it restores your jump

[2012-10-16 20:28] Learath2 commented on #155
Viable alternative that can be used to completely mimic this just a bit less flexibility don't think we will add this.

[2012-10-16 20:28] #155 closed, assigned to nobody

[2012-10-16 21:36] AdVetter commented on #180
The scrolling/mouse problem should be fixed already 8372849cbafb02a58fcf8aa7c706cad5c5f16731

[2012-10-17 18:07] walter-P2Z commented on #190
Hi,

i don't think it's a problem. i explain myself : This is normal behavior of the switch entity, if u want to avoid this death cheat you have to use delay switch (with delay value to 0sec)

Even if you reset doors when nobody is in the team, how to solve the problem when the team is not empty ? I mean if a player in team open a door and kills himself to make it opened permanently for all other

[2012-10-21 12:07] Tsin opened #191 "team tile/team layer ?"
here lets discuss about this kind of feature (not a new idea i know but still nobody rly though about it more serious)

so the work  is simple (in theory)

you add a special tile "map for X players" x = 2 or 3 or what ever and here i dont know

if we would just add limited aka

2 tiles : one with 2 players and second with 3 players
or there would be a totaly new layer that will work like speeders

[2012-10-21 13:33] walter-P2Z commented on #180
That's great XXLTomate, I didn't see this !

The GUI problem doesn't appear neither in Vanilla Client. But it doesn't allow to make DDrace features.

I try to search what triggers those problems and it looks to be the graphical numbers : tiles info, tele numbers, switch number/delay or speedup strenght. Apparently it doesn't come from the map because it also bugs with ctf5 when tiles info is ON.

[2012-10-22 06:48] Shereef commented on #191
I am not sure this is needed, why not just make a part that needs X players at start right after the noob filter and make the server sv_teams 2 iirc that makes it requires teams, it's the same result without making the server heavier.

this is my honest opinion, the mapper should get creative there is too many tiles/layers already.

[2012-10-22 15:29] Tsin commented on #191
so let me get this straight if i will make
in map config

sv_team 2 it means only 2 players in team will be able to cross the start line ? or what

what will happen to the team 0

and what will happen if "sv_team 2" and there will be 3 players in a team ?

[2012-10-22 20:11] Learath2 commented on #191
As I reworked the sv_team 2 I feel obliged to explain it. sv_team 2 will force people to play in teams of any number. If the player tries to start in team 0 he will instantly die. Simple :)

[2012-10-27 19:24] Tsin commented on #191
sv_team 2 sucks hard

we need something that will kill team 0 players and if sv_team 2 then team 3 players also will be killed
aka if sv_team 2 then only but only 2 players in team

[2012-10-28 15:44] heinrich5991 commented on #191
If you want to only have two players in a team at a time, make some kind of filter. I wouldn't like it if it was specified by the server.

[2012-10-29 01:07] Shereef commented on #191
My thoughts exactly

[2012-10-30 11:21] ghost commented on #180
This is indeed a problem with the threaded graphic engine:
U can avoid this by batching stuff and reduce the number of drawcalls. I did a pull request to the main repo for the Show Info stuff, which reduces the number of drawcalls quite much. It doesnt fix the actual 'problem'. (But atm with good batching the gui problem shouldnt appear in 99% of cases (: )

[2012-11-03 21:55] Tsin opened #192 "Team join/closed bug"
very urgent bug

version 1.14a

you join a team  example 11

you cross the start line and now you just quit the server (no kill) you join back you try /team 11 and team is closed you cant join team at a time

bug found by GUMM

[2012-11-03 22:49] heinrich5991 commented on #192
Ugly workaround, not tested. Not for upstream as it's a workaround.

[code]

[2012-11-05 00:52] Tsin commented on #192
heinrich the workaround didnt work, good news is that we find the blame

last commit
https://github.com/DDRace/teeworlds/commit/b68840b30b3ffeaed8bdf2042f91105e266a5aac

a fix that "cat" made for us, its good that i remmebered that he said that he changed something in teams ^^

so ddmax reverted one commit it means we still need someone to make a fix for the
https://github.com/DDRace/teeworlds/iss

[2012-11-05 20:43] Tsin commented on #192
ok i spoke with cat ^^ and he made a fast fix

https://github.com/aelio/teeworlds/commit/143f3eb6450872b886eaee16d955d871fd24bfa3
so now if you wont delete his last comit and just add this then everything should work fine but still he said that we must test it :D

[2012-11-06 02:30] Tsin commented on #192
ok everything works fine (red hook lasers/draggers are fixed and teams dont have a bug) so please add cat's code to the main branch

[2012-11-07 17:12] Learath2 commented on #192
I would add it but first lets ask @GreYFoX

[2012-11-07 17:13] Shereef commented on #192
Tried to add it but cats repo was outdated when he did this, go ahead @Learath2

[2012-11-07 17:14] Learath2 commented on #192
That was fast @GreYFoX come by irc sometime :smile:

[2012-11-07 17:15] Shereef commented on #192
Emails are more reliable

[2012-11-12 18:40] #153 closed, assigned to nobody

[2012-11-12 20:04] ghost opened #193 "Team Exploit"
This could be related to this issue:
https://github.com/DDRace/teeworlds/issues/192

but just encase I will post the information here.

You are able to get any time on the server that allows you to teleport back to the start. It is done by joining a team, finishing the map then redoing the map but stopping just before the start. You then get another client to join the server and join a different t

[2012-11-12 20:13] ghost opened #194 "Drag slowdown effect"
You guys may or may not be aware of this affect when dragging another tee, but what happens is that the first time a tee is dragged along the ground he starts off at a certain speed but then the speed he can be dragged by slows down, almost as if there is an increase in friction. This continues to he gets to a constant speed which is noticeably slower than the initial speed. The only way to get ba

[2012-11-12 23:29] alandball commented on #193
Will only work on maps that don't kill you at end, where the player is taken back to start by teleport or other means. Problem is there are plenty of such maps.

Timer doesnt start on a rerun of map, if players got back to start without kill. All the team needs to go through start to restart timer, and a check exists as it tells players of team that go through start that the other players in same

[2012-11-13 07:35] Tsin commented on #194
nothing new was in 0.5.X everyone knows about it

https://github.com/teeworlds/teeworlds/issues/541

this issue can be closed its tw bug and not ddrace but thank you ZodiacZA for info ^^

[2012-11-13 08:02] ghost commented on #194
Oh sorry, thought it had more to do with DDrace than Teeworlds as you don't really go around dragging people in Teeworlds :P But maybe it should remain a DDrace issue because it doesn't seem like it is a high priority on there list as it has been around for 2 years and they still haven't gotten around to fixing it. Whereas for DDrace it is quite a big issue that needs to be dealt with, especially

[2012-11-13 08:22] Tsin commented on #194
no it must be closed because like i said its not ddrace issue and "we" cant rly fix it it must also be fixed on "clients" and ddrace is only server side mod

and about that statement :
"it doesn't seem like it is a high priority" it is hight priority couse its in 0.7 milestone without that bug fixed 0.7 wont be released so close the issue ^^

[2012-11-13 08:29] ghost commented on #194
I see, didn't realize that :)

[2012-11-13 08:29] #194 closed, assigned to nobody

[2012-11-15 06:35] #172 closed, assigned to nobody

[2012-11-15 15:42] Learath2 commented on #192
@Tsin so can I say this is closed as we merged in cat's repository.

[2012-11-15 15:46] Tsin commented on #192
yes everythig is now fixed ^^

[2012-11-15 15:46] #192 closed, assigned to nobody

[2012-11-15 15:49] Learath2 commented on #190
I think once a team goes empty all the doors and lasers should be reset.

[2012-11-25 21:50] Tsin opened #197 "/rank nick - spam"
for example

/rank Tsin

then peole see Tsin finished map in TIME then dont see who wrote that /rank

only the person that made that rank see for example if i make /rank Tsin
then i will see
Tsin finished map in time .... (by Tsin)

/rank should always show to all people on server who used that command then it will be easier to ban a spammer

[2012-11-26 10:55] Shereef commented on #197
for the record 7f7a46b497427d8f5cc13c8f731512a2951b4778 is also related

[2012-11-26 10:55] Shereef commented on #197
@Tsin Please test the sql version
@Learath2 Please test the normal version

Thanks guys

[2012-11-26 14:58] Learath2 commented on #197
@GreYFoX tested it the others don't even get the message probably true for SQL version too

[2012-11-26 15:22] Shereef commented on #197
What happened exactly ?

how many clients did you test with?
what is the message you saw
which client saw it ?

[2012-11-26 15:25] Learath2 commented on #197
@GreYFoX I saw the proper message with requested by Learath2 but the other client didn't get the message. I tested it with @heinrich5991 he only what he requested and I only saw what I requested.

[2012-11-26 15:33] Shereef commented on #197
do you have sv_hide_scores 1 ?

[2012-11-26 16:51] Learath2 commented on #197
Nope

[2012-11-29 03:05] Tsin opened #198 "1.15a rly needed"
i think its time to make a good decission of releasing a good 0.6.1 final and working client or remove 1.14a from download website and keep up with 1.096a

the reasons why 1.14a and 1.12 should be removed
-scroll bug
bugged entities specialy TELE entites
-they dont have check and red teleport
-there might be more bugs but i dont know i use 1.096a and i tell all mappers to do it  (it works and dont

[2012-11-29 14:10] Learath2 commented on #198
No one is going to bother backporting everything. 1.14 should be fixed. @GreYFoX @heinrich5991 what are we going to do about 0.7

[2012-11-29 16:23] Tsin commented on #198
im not talking about backporting EVERYTHING im not a mad man :P

im only talking about fixing 2 most important things

scroll bug and teleport entities (and making windows build) and keep it as official last 0.6.1 version and dont give a fuck about 0.6.X and only make 0.7

or remove 1.14a and keep 1.096a as main client and just add new server binary

[2012-11-30 19:09] heinrich5991 commented on #198
I'd propose a mod rewrite for 0.7. Huge task, not all things would be supported from start on.

[2012-11-30 19:12] Tsin commented on #198
guys no no you dont get it you talk about HUGE TASKS and im just talking about small release to get rid of faily 1.12 and 1.14 couse they rly shouldnt be in download on ddrace.info

[2012-12-11 12:38] Tsin opened #199 "mute feature cleaning - in future"
i was wondering now (big thx to Fisted its rly a great feature but...) we have

mute
muteip
muteid

maybe its time for some cleaning to make it one "mute" command that will mute ID's or  IP's
the same way like ban's work

[2012-12-15 03:06] Dizern commented on #191
I'd just like to say this is an important and legitimate idea!
Maps done with 3 tees can be 500% easier than done with 2 and many maps the whole design and trick is to be able to do them with 2.
2 tees guaranteed reduces a huge amount of cheats and is practically cheat-free and a consistent quality of racing.

[2012-12-16 09:43] Shereef opened #200 "Breakdown DDRace into simple tasks"
Please break down DDRace into Simple tasks

for example

add a task under the label DDRace ReWrite called Add Freeze tile

[2012-12-16 09:46] Tsin commented on #200
but you want about 40-50 issues or what ?

couse i can rly split ddrace into tiny pieces by naming almost all features hehehehe :D

[2012-12-16 09:47] Shereef commented on #200
@Tsin do it, the tiniest of pieces

[2012-12-16 09:49] Shereef commented on #200
@Tsin it's no secret i am busy and lazy at the same time, if i have simple tasks to do, it will be easier for me to start, and also it would make others pick simple tasks to do as well, i mean it will get everyone started

[2012-12-16 09:50] Tsin commented on #200
sure in few days i will prepare a list of everything i will find with mentioning some of the changes in some features

[2012-12-16 09:52] Shereef commented on #200
Please also start a vote on the changes (the ones not already in @DDRace) you need done in the forum so that it would be a majority request.

Thanks @Tsin

[2012-12-21 00:56] Tsin opened #201 "sv_events 1"
[23:33:31] <Tsin> not everyone wants to see Happy blah blah on his/her server
[23:33:37] <Tsin> on ddmax we dont use broadcast at all
[23:33:57] <Tsin> and not everyone likes to have his eyes "happy"
[23:34:10] <Tsin> so you like events great
[23:34:12] <Tsin> i also like them
[23:34:20] <Tsin> but make an option to it then
[23:34:45] <Tsin> like sv_events 1 and then everyone will be happy on wint

[2012-12-23 05:11] Tsin opened #202 "2 bugs in fast download (system/hack)"
ONE : critical crash server bug how to :

[03:31:43] <laxa> make a files eg : spam.txt
[03:31:53] <laxa> put thousands of "say spam"
[03:32:09] <laxa> bind it to some key or just f1 and write "exec spam.txt"
[03:32:15] <laxa> then server crashed

TWO :  when a player joins the server and map downloads and then he cancle the download without joining in or that person will have out of buffer

then i

[2012-12-23 05:21] noother commented on #202
howto: connect, spam around, get dropped, reconnect => crash
[12-12-23 04:32:37][assert]: src/game/server/player.cpp(16): already used

[code]

cae8c68d8782dfd31017c12915065a68c72729cc is the first bad commit
commit cae8c68d8782dfd31017c12915065a68c72729cc
Author: eeeee eeeee@qwe123.info
Date:   Sat Apr 14 01:30:18 2012 +0200

send ahead window for maps downloading. works with vanilla client.

[2012-12-23 17:22] Tsin commented on #202
both issues here might be fixed

will close after some tests on ddmax ^^

[2012-12-23 17:41] Tsin commented on #201
https://github.com/eeeee/teeworlds/commit/d414d322a3f43d60741f0869af511db9b4e4ec93

[2012-12-23 18:02] Tsin commented on #201
fixed by https://github.com/DDRace/teeworlds/commit/1c8c20c93ef138b92fab391686eef52116a2e746

[2012-12-23 18:02] #201 closed, assigned to nobody

[2012-12-23 18:56] Tsin commented on #202
looks like everything works fine

fixed by https://github.com/DDRace/teeworlds/commit/ee2647de4191066453b11862895cb32d4b729427 and https://github.com/DDRace/teeworlds/commit/02036bc876c03f9ac23b9b5c5060db0bbdac4c2e

[2012-12-23 18:56] #202 closed, assigned to nobody

[2012-12-24 06:57] Shereef commented on #202
great work @eeeee and thanks @tsin for testing

[2013-01-01 23:14] Learath2 opened #204 "Nonresponsive console"
After working for a while servers become nonresponsive to all console commands.

[2013-01-02 00:23] Tsin commented on #204
duplicate :P
https://github.com/DDRace/teeworlds/issues/168

[2013-01-02 14:54] Learath2 commented on #204
Well the title doesn't really explain it well but okay duplicate.

[2013-01-02 14:54] #204 closed, assigned to nobody

[2013-01-14 22:00] heinrich5991 opened #206 "team bug remains"
Virus2K reports on DDRaceMax that if you join a team and disconnect, it's blocked afterwards.

[2013-01-14 23:27] Learath2 commented on #206
Can confirm on my own build of last commit.

[2013-01-14 23:54] Tsin commented on #206
yes thats true (i forgot to open an issue also there is a strange bug with records a player gets info that he finished the map but records arent saved so you wont see them in /top5)

btw. ^^ what is DDRaceMax i know a server DDracemaX but not what heinrich wrote =P

[2013-01-29 22:42] Tsin commented on #197
hmm why we wont just take it from "teerace" it works there nicely

[2013-01-30 07:21] Shereef commented on #197
We don't need to the fix is very easy, Someone just needs to remind me when
i have free time that i should fix stuff, I Usually just go and play and i
forget there are stuff to fix :/
@Tsin usually i'm on teeworlds thursday night, remind me that i fix stuff,
prolly iwill on thursday night or friday morning

[2013-02-01 11:10] #206 closed, assigned to nobody

[2013-02-01 11:25] #197 closed, assigned to nobody

[2013-02-01 11:25] #198 closed, assigned to nobody

[2013-02-01 11:27] Shereef commented on #193
Should be fixed now, please verify @ZodiacZA

[2013-02-01 11:27] #193 closed, assigned to nobody

[2013-02-01 15:32] #180 closed, assigned to nobody

[2013-02-02 01:18] Tsin opened #208 "few things about 1.15a"
1. there is only english language in 1.15a build.
2. why there is no icon for linux in build (.png file would do fine)
3. new entities arent good for mappers (why cant we use old):

a) hook wall tile is barely visible or non.
b) freeze tile is purple not blue and too detailed (gives a nice headache).
c) red undeepfreeze was more intuitive.
d) start finish tiles dont have text (why?).
e) solo tiles

[2013-02-02 01:29] Tsin opened #209 "votes before finish"
many players cry that they joined in they play for like 1 hour they are near finish line suddenly a group of tees join in cant pass the noobfilter and they vote on next map

i have 2 solutions:
1. map rotation/shuffle a simple things map changes every X time and they have that X time to finish the map when time ends and server makes a vote "extend map" if not then server changes the map by random

[2013-02-02 10:49] Learath2 commented on #209
Or make it so players can vote for the next map in rotation and add a vote for rotate that requires 75% of the tees to say yes. Good enough ?

[2013-02-02 11:39] ghost commented on #208
In linux the executeables themself don't have icons

[2013-02-02 20:09] Tsin commented on #208
yep  thats not rly a problem (also i dont rly know linux architecture so i dont know if executables can have icons like on windows)

but what i mean the problem is that tere is no icon in build at all so if i make a launcher i need to go on github search for icon then download it then put it somwhere and then i can use it (ah also i need to convert it to .png couse linux launcher dont want to read

[2013-02-02 20:21] Tsin commented on #209
the idea is old from counter-strike quake3 etc

but there they have a nice poll with "next maps" from 1-5 and 6 is extended and then you just pess a number and server checks the votes and if 2 maps go the same number of votes then a new poll is created with only this 2 maps and others that voted on diffrent maps can vote now on one of the winning maps simple

[2013-02-02 21:22] ghost commented on #208
rename the .ico file to .png

[2013-02-02 21:24] Tsin commented on #208
haha dont work on linux mint 14 (fresh install) :P

[2013-02-02 21:36] ghost commented on #208
works fine for me :>

edit: well, as it seems like you already have the .png file, you could do a pull request

[2013-02-03 02:40] Tsin opened #211 "skins created by obst"
http://www.speedyshare.com/tytSv/obst-skins.zip

[2013-02-03 18:22] #211 closed, assigned to nobody

[2013-02-04 08:42] Tsin opened #213 "lags with 2 clients (1.15a) on 1 pc"
so

if i open on my pc 2 clients (1.096a) everything works fine ping is normal (my pc isnt rly that bad so it can handle even 8 clients without any problems - games are in windowed mode both 1920x1080 high details)

game works fine smooth no problems at all

if i open 1 client (1.15a) and 1 client (1.096a) ping jumps a little bit fps gets a little lower but i can somehow play but it lags a lot pin

[2013-02-04 13:23] Tsin commented on #213
found the blame

gfx_threaded 1

if you change to 0 and restart the client it works good

so i if old system with gfx_threaded 0 worked fine for everyone then maybe we should stick with it for now as a default

[2013-02-04 13:25] Shereef commented on #213
Won't fix(Oy style :D). submit to teeworlds repo.

[2013-02-04 13:28] Tsin commented on #213
omg you noobzor i hate you zor  so much zor i dont talk about fixing it :P im talking about making it

gfx_threaded 0  as a default so then nobody will complain on new ddrace client (in 0.6.1 stable there is no gfx_threaded 1 so nobody complains about this kind of problems and nobody have normal access to 0.7 trunk to know about this "problem")

[2013-02-04 13:30] Shereef commented on #213
Agreed that i am a noobzor but still won't fix :p

just joking ok will do later (at work now)

[2013-02-04 20:10] ghost commented on #213
tried it on my pc, cant find much differences :/
gfx_threaded 1: lags with 3 clients
gfx_threaded 0 / 0.6.1 client: lags with 3-4 clients

[2013-02-05 08:43] #185 closed, assigned to nobody

[2013-02-06 09:54] Tsin commented on #213
so what i observed

on windows stable 0.6.1 client
1 client about 300 fps smooth
2 clients both about 130 fps smooth

on windows new 1.15a client
gfx_threaded 0
works the same like above  only maybe 5 fps less
gfx_threaded 1
1 client works nice but about 280 fps
2 clients game lags like hell pings jump to 130

now linux stable 0.6.1 client
1 client about 310 fps smooth
2 clients both about 140 fps

[2013-02-08 12:22] heinrich5991 opened #214 "Fixes auth checking for map download."
[code]

Please. :)

[2013-02-09 21:19] heinrich5991 commented on #200
For the new DDRace: Never mind the vanilla client. Really. This compatiblity stuff shouldn't be in the mod itself. I wrote some kind of version-proxy stuff that will deal with that later. First, assume the clients always have DDRace mod. Questions?

[2013-02-10 12:11] Tsin commented on #213
next reason why we cant use gfx_threaded 1
http://www.youtube.com/watch?v=pAq4fh5RKsk&feature

[2013-02-10 12:15] Learath2 commented on #213
Because a video is private ?

[2013-02-10 12:17] Shereef commented on #213
Yes @Learath2 because of threading the video becomes unsafe fro threading,
Google Thread Safety!

[2013-02-10 12:19] Shereef commented on #213
it's a joke :D

[2013-02-10 12:20] Learath2 commented on #213
You no say ? :smile:

[2013-02-10 12:22] heinrich5991 commented on #213
is this a chatroom? ^^

[2013-02-10 12:23] Tsin commented on #213
omg what an idiot came to me gave me video i asked him to make gfx_threaded 0 he said that now it works fine and he removed the video gone off from skype

[2013-02-10 12:24] Learath2 commented on #213
@Tsin meh.
@heinrich5991 why not we can use it as one ^^

[2013-02-10 12:26] Tsin commented on #213
chatting in comments is so AWESOME

btw animation in 1.15a acts strange when you stand on start line :D

[2013-02-10 20:34] Tsin commented on #213
http://www.youtube.com/watch?feature=player_embedded&v=pAq4fh5RKsk

[2013-02-11 18:21] Learath2 commented on #213
EWWWWW that vid looks sick

[2013-02-11 21:49] Tsin opened #215 "Team join/closed bug is back"
as i already spoke with heinrich the bug is back and it should be fixed asap thank you

[2013-02-12 19:02] Tsin commented on #215
close

duplicate of https://github.com/DDRace/teeworlds/issues/206

sorry for problems

[2013-02-12 19:02] #215 closed, assigned to nobody

[2013-02-13 16:36] #213 closed, assigned to nobody

[2013-02-13 16:37] Learath2 commented on #213
@Tsin it should be fine with this, commit closed it if you want you can open it again ^^

[2013-02-17 00:17] Tsin commented on #214
from what i see its done https://github.com/DDRace/teeworlds/commit/921f5f92396beb1a967ae3b2b2147978279e496e

so im closing

[2013-02-17 00:17] #214 closed, assigned to nobody

[2013-02-17 03:42] Tsin opened #217 "special warning messages"
something similar to announcments but

when the right time comes (the time is set by admins in txt file)

server shows a messge in yellow text and broadcast for about 5 seconds

example of use

on ddmax it would be used to warn players about server backups and upcoming CP or timeout

example of .txt file

15:45 - server backup in 15 minutes
15:58 - server makes a backup sorry for inconvenience

[2013-02-17 03:53] Tsin opened #218 "timeouts and unknown reason for disconnect"
what is it about that i have a strange feeling the newer version of ddmax the connection between client and server is weaker

in many games example
tf2, cs, quake, settlers rttr, even need for speed underground

i can download torrents and leave the games minimize and i wont get any timeout or disconnect

in ddrace you sometimes minimize the game to get a simple chat message from skype or email or

[2013-02-17 17:31] Learath2 commented on #217
On my list :)

[2013-02-18 03:42] Tsin opened #219 "admin abuse aka problem with bans"
simple solution

lets remove ban for good

and instead people will use this

-freeze id time  (obvious freezes person for X time)

if that wont help and a person will start to insult etc etc

then :

-freezemute id time (obvious works the same but also mutes the person)
it should also not allowe people to change nicknames when they are freezemuted

this should also be done to normal mute

[2013-02-19 09:02] Shereef commented on #206
Is it back or is it not ?

[2013-02-20 07:05] Learath2 commented on #190
@Tsin still valid ?

[2013-02-20 23:28] Tsin commented on #218
guys you will know better maybe this is a help for this issue ;]
https://github.com/teeworlds/teeworlds/commit/d8a7eb68639ff5bb4e4dee2317c5854795ca553f

please revise and answer me ^^

[2013-02-21 01:44] Tsin commented on #190
from what players said, this bug is still active

[2013-02-21 02:31] Tsin commented on #206
fixed sorry for problems dont reopen

[2013-02-22 02:20] Tsin opened #220 "fast join/quit flooding server couses disconnects to other players"
http://www.speedyshare.com/kB2dD/crash.demo

[2013-02-22 12:36] heinrich5991 commented on #220
could be taken to teeworlds.

[2013-02-23 10:32] Tsin opened #221 "1.15a message lags"
1.15a sends two messages to all clients when a players gets killed and 1 message when a player

spawns and it couses lags

[2013-02-23 10:33] Tsin opened #222 "1.15a animation"
in 1.14a and lower when player stands on start line animation is stoped (thats good)

in 1.15a when a player stands on start line animation starts and stops what causes EYE CANCER

:D)

[2013-02-23 10:34] Tsin opened #223 "voting other team"
players from other teams example (team 0) can vote "move to spec" players from team 1 or other

team
someone could say that this is good when someone  spams the chat and insults others

then maybe to prevent that we could add "/mute nickname" and then a special vote starts and

players can vote that person to be muted by server for X time  (time set by admins in .cfg)

[2013-02-23 10:42] Tsin opened #224 "broadcast strange behaviour"
very old broadcast (sv_broadcast) was just set and it was all the time visible

on ddmax in 0.5
we used a special broadcast setting that showed when you joined a server u seen the broadcast for about 10-20 seconds and that was very good for players and server

new broadcast is strange

when players join in they dont see anything
if you make it broacast time interval
it pop ups only when server is

[2013-02-23 10:46] Tsin opened #225 "ideas for new features =)"
this are ideas from players/mappers of ddmax
- shoot-through
- unhook players tile (on/off like solo)
- two diffrent shotguns : first pull second push (DarkHeaven : if u hold the first shotung a
  heart appear on top of ur head and the second a shild so u can indicate wich shotgun does what
- special turret : something like plasma but shooting for example grenades
- flying doors : aka doors moving

[2013-02-23 12:40] Shereef commented on #224
We don't use broadcast anymore iirc
On Feb 23, 2013 12:42 PM, "Tsin" notifications@github.com wrote:

[2013-02-23 12:43] Tsin commented on #224
oO why not add the one from old ddmax ? it was good nobody complained about it people had the most important info shown and it didnt disturbed when played couse after 10 seconds it was off

[2013-02-23 12:48] Learath2 commented on #225
I don't get the first one and unhookthrough , two different shotguns kinda doesn't fit. The tile with server commands need some level of protection on what types of commands can be used as in a long map you won't even notice if a mapper puts a subtle command tile that executes "sv_rcon_password bla".

I also would like to see unhook players tile.

[2013-02-23 12:58] Tsin commented on #225
so to make it clear all of this are community wishes not mine

for me 2 shotguns are kind of useless (why push and make players life even more diffrent to use bind or something if you can just shoot laser him and he will get there)

about unhookthrough is a about places where for example you only want hookthrough UP but not on the wall that is on left

about command tile - hmm i dont see any point

[2013-02-23 17:17] heinrich5991 commented on #224
This just reminds me of that one:
http://xkcd.com/1172/

[2013-02-23 17:18] heinrich5991 commented on #225
This looks much like crazy mod, I'm rather conservative about adding more features, so I wouldn't even consider most of them.

[2013-02-23 17:25] Shereef commented on #225
Me too
Also 1 issue for each suggestion is the correct model here
So we car reject and accept 1 at a time
On Feb 23, 2013 7:18 PM, "heinrich5991" notifications@github.com wrote:

[2013-02-23 17:34] Tsin commented on #224
heinrich -_- rly ? ur such a fail, now that was pathetic the only person that didnt like the broadcast was greyfox becuase kiddies abused it but for normal admins it helps a lot for example Kaama wanted on her server to add a broadcast that she seeks for mappers that migh help her make her server get more popular for ddmax it would be used to add a website for 10 seconds or that we search for map

[2013-02-23 17:36] Tsin commented on #225
nn theres already too many issues thats why its just easier to write here which one you like which you dont

and then edit this issue and edit comments or remove them so just write which one you like if non then non but write it

[2013-03-12 10:19] Tsin opened #226 "why not improve the client a little bit"
ive checked h-client today, it have lots of useless crap and looks bad

but few features are very handy

like admin control panel
http://i.imagebanana.com/img/2loj54v4/control.png

and irc channel
http://i.imagebanana.com/img/9o085ez4/irclogin.png
http://i.imagebanana.com/img/a8xppmih/ircchat.png

a video of irc
-notifications in game and irc chat from game
http://www.youtube.com/watch?v=Ad6EvYEtM

[2013-03-12 12:14] Shereef commented on #226
I have no problem wih it if someone has time to do it

[2013-03-18 13:21] Tsin commented on #220
guys ?
https://github.com/teeworlds/teeworlds/commit/ea2898e94a6d50e326cb68976d9fabbc378a3b9d

[2013-03-21 18:12] Tsin commented on #226
(removed all crap) dont spam my issues in future or i will rape you ^^

[2013-03-25 10:35] east commented on #222
The Envelopes are synchronized by the round start time so they get reset on entering the startline. That causes the flickering.
A simple solution would be to synchronize the envelopes by the current game tick.

[2013-03-28 23:18] Tsin commented on #226
Shereef rly do something about that spyware crap sugar crap share

[2013-03-29 07:06] Shereef commented on #226
What happened ?

[2013-03-30 11:15] Tsin commented on #226
it spams here and now it spams my gmail omg

[2013-04-01 02:00] Tsin opened #229 "1 very nice skin from FarinDoc"
FarinDoc aka one of our map testers made a very nice skin that players might want to use ^^

http://i.imagebanana.com/img/u1br40rh/gamer.png

as web browsers love to change the bits of .png's

so here a link to normal download
http://www.speedyshare.com/knnj3/gamer.png

[2013-05-03 15:18] Tsin opened #231 "ban file check / load"
everytime someone tries to join in, server should reload or check the ban file

it will help in managing multi servers that use one ban file for all servers

im not sure if it should be ddrace issue or tw issue because i dont know if ban file is theirs or "ours" feature

[2013-05-07 22:05] Tsin opened #232 "next spam scrip - out of buffer"
http://i.imagebanana.com/img/v0wwqrok/1.png

http://i.imagebanana.com/img/v2ikq5f4/2.png

[2013-05-10 21:07] eeeee commented on #232
Thats exactly the reason why chat commands are spam-protected in ddwar

[2013-05-10 22:24] east commented on #232
Additionally the output of chat commands shouldn't be displayed in rcon. Or atleast only for the person who calls them

[2013-05-12 09:25] heinrich5991 commented on #232
Maybe we should introduce a feature like in IRC servers. Players causing more than x kb/s are kickbanned for 1min, this should not apply to admins (or they might have a higher limit).

[2013-06-05 16:09] moukle opened #234 "teamsize"
could u add a command to limit the teamsize (how many ppl can join one team)
maybe like sv_max_teamsize x
would help me a lot
thanks

[2013-06-05 17:30] east commented on #234
You can achieve the same by limiting the number of active players using sv_spectator_slots

[2013-06-05 17:49] moukle commented on #234
if i would want that i could also just use sv_max_clients x

[2013-06-05 18:15] east commented on #234
By reserving spectator slots you are also limiting the number of ingame players. Here an example:

sv_max_clients 16
sv_spectator_slots 8

This config would limit the teamsize to 4 ((16-8)/2) which is what you want?

[2013-06-05 18:26] moukle commented on #234
ah, now i understand u
i posted it in wrong label ._.
was meant to be in ddrace

sorry
any possibility to move it?

[2013-06-05 18:29] east commented on #234
It's on DDRace. Sorry didn't notice that

[2013-06-09 21:12] moukle commented on #234
still looking for an answer

[2013-06-19 10:09] Learath2 commented on #234
@PHACRUM DDRace is most probably going to be totally rewritten in summer. When we are doing that I will implement your idea.

[2013-06-20 14:41] alandball opened #235 "[Bug] tune_reset is not run on map change"
In ddrace it is important to do tune_reset on map change, as there are some maps that run map config with custom tunes to make map work, but then on map change those settings stay causing that map to not work as server has not defaulted the tunes

Take into account also that the map being changed to might have another set of tune settings, so tune_reset should be done before checking and loading t

[2013-06-23 13:37] def- commented on #129
Can't reproduce. Works for me on Mac OS X 10.8.

[2013-07-13 18:26] Tsin opened #240 "about ban master"
what was it how did it work why it was removed from ddrace
could we bring it back ?

because if i understood correctly
ddmax could setup his own ban master server all our servers would connect to it and check the banned ips am i correct ?

[2013-07-13 18:30] heinrich5991 commented on #240
Yes, that was the purpose of the banmaster.

[2013-07-13 18:34] Tsin commented on #240
yeah aka something nobody knew how to use because nobody wrote any "tut/info" about it

still can we have it back ddmax would rly need such a thingy ^^

[2013-07-15 01:05] def- commented on #223
Fixed in #238.

[2013-07-18 01:59] def- commented on #170
I think DDracemaX has this by now. Any chance of getting the code into this repository?

[2013-07-18 02:01] Tsin commented on #170
sorry but ddmax dont have it
we would already gave a nice .patch
so how it works on ddmax

noother made a workaround but in SQL

[2013-09-12 08:58] heinrich5991 opened #242 "Character clipping too strict"
When moving and having dyncam enabled, you see characters and weapons magically appear at the side of the screen. This means that the clipping seems to be too strict.

[2013-09-12 19:17] eeeee commented on #242
Does that only happen when you are moving fast? Perhaps clipping could be eased in the movement direction (probably also factoring ping).

[2013-09-12 19:38] heinrich5991 commented on #242
It happens when you're moving down with (almost) any speed. This means the laser is probably exactly at the boundary.

[2013-10-14 19:59] heinrich5991 opened #244 "Chat sounds inverted?"
[00:58:06](TEE) Virus2k: hey hey
[00:58:17](TEE) Virus2k: the chat sound in the ddr client is inverted
[00:58:24](TEE) Virus2k: its a bug in the source code deen said
[00:58:34](TEE) Virus2k: he fixed it on his client, can u fix it for the ddr client too?:O

[2014-04-28 09:49] nobodypb commented on #139
I also realized this problem in the new DDRace client. I started to code for DDNet and will try to fix this.
The main issue is, that freeze is handled in game/server/character and not in game/gamecore where it should be to have correct prediction.
I'll rework this in the next few days an move freeze to game/gamecore in order to enable prediction for all DDRace stuff. This will likely be added to D

[2014-04-28 10:26] Learath2 commented on #139
The current rewrite that's being worked on already has freeze in gamecore. You might want to check fisted/teeworlds@a0f0ecf358be56f0d499e45d622c3cd11a061ddd bb_freezemech branch.

Edit: Github doesn't let me link branches.

[2014-04-29 12:50] Learath2 commented on #139
Still a good example of gamecore freeze without cutting support for vanilla.

[2016-01-24 16:03] ghost commented on #244
I'll try to fix this